// For correct IntelliJ syntax checking I include the imports we are working with. This is actually not needed.
@import '../base/variables';
@import '../base/mixins';

.btn-pos, .btn-pos[disabled], .btn-pos.disabled, .btn-neg, .btn-neg[disabled], .btn-neg.disabled {
  border-radius: $btnBorderRadius;
}

.btn-pos, .btn-pos[disabled], .btn-pos.disabled {
  background-color: $btnBgColorPositive;
  color: $btnTxtColorPositive;

  &:hover,
  &:focus {
    background-color: $btnBgColorPositiveHover;
  }
}

.btn-neg, .btn-neg[disabled], .btn-neg.disabled {
  background-color: $btnBgColorNegative;
  color: $btnTxtColorNegative;

  &:hover,
  &:focus {
    background-color: $btnBgColorNegativeHover;
  }
}

.btn-pos[disabled], .btn-pos.disabled, .btn-neg[disabled], .btn-neg.disabled {
  color: $btnTxtColorDisabled;
  opacity: $btnOpacityDisabled;
}

span.stars_i {
  position: relative;
  top: 2px;
}

span.stars_i, span.stars_i span {
  display: inline-block;
  background: url(../assets/images/ui/stars.png) 0 -16px repeat-x;
  width: 80px;
  height: 16px;
}

span.stars_i span {
  background-position: 0 0;
}