// For correct IntelliJ syntax checking I include the imports we are working with. This is actually not needed.
@import '../base/variables';
@import '../base/mixins';

input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
textarea,
select {
  border: 1px solid $lightBlue;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}

label {
  font-weight: 400;
}

.form-control {
  height: auto;
}

.data-generate {
  overflow: auto;
  margin: 30px;
}

.text-danger {
  color: $pink;
  display: block;
  margin-top: -22px;
  font-size: 0.9em;
  text-align: left;
}

.ng-valid.ng-touched {
}

.ng-invalid.ng-touched {
  border-color: $pink;
  color: $pink;
}

.ng-invalid.ng-touched ~ label {
  color: $pink !important;
}

.dropdown-white-border {
  height: 32px;
  border-radius: 16px;
  border: 1px solid $white;

  > a.dropdown-toggle {
    background: none;
    border: 0;
    color: $white !important;
    text-align: left;
    padding-left: 15px;

    > b:before {
      font-family: "fontello" !important;
      content: '\e800' !important;
      font-size: 8px;
      left: auto;
      right: 7px;
    }
  }
  > .dropdown-menu {
    color: $lightBlue;
    border-radius: 10px;
    overflow: hidden;
    border: 0;
    margin-top: 4px;
    padding: 12px 8px;
    .custom-select-search {
      margin-top: 5px !important;

      > input {
        border: 1px solid $lightBlue;
        background: $lightGrey;
      }
    }
    > .custom-select-search:after {
      display: none;
    }
    > ul > li > a:focus,
    > ul > li > a:hover {
      background: $lightGrey;
      color: $darkBlue;
    }
  }
  > a.dropdown-toggle:hover {
    color: $white !important;
  }
  .ng-valid.ng-touched {
    border: 1px solid $lightGrey;
  }
}

.btn.focus,
.btn:focus,
.btn:hover {
  color: $white;
  outline: none;
}

.custom-select,
.material-input input {
  width: 100%;
  font-size: 1em;
}

.custom-select {
  margin-bottom: 25px;

  > a.dropdown-toggle {

    > b::before {
      font-family: 'fontello';
      content: '\e800' !important;
      font-size: 8px;
      margin-left: -4px;
      top: 4px;
    }
  }
  > .dropdown-menu {
    padding: 5px;
    border-color: $lightBlue;

    > .custom-select-search {
      margin-top: 5px;
    }
    > .custom-select-search:after {
      display: none;
    }
    > ul > li > a:focus,
    > ul > li > a:hover {
      background: $lightGrey;
      color: $darkBlue;
    }

    .ng-valid.ng-touched {
      border-color: $lightBlue;
    }
  }

}

.material-input {

  .group {
    position: relative;
    margin-bottom: 25px;
  }
  input,
  textarea {
    padding: 10px 12px;
    display: block;
  }

  input:focus,
  textarea:focus {
    outline: none;
  }

  input[disabled],
  textarea[disabled] {
    opacity: 0.4;
    background: $white;
  }
  input[disabled] ~ label,
  textarea[disabled] ~ label {
    color: $grey;
  }

  label {
    position: absolute;
    pointer-events: none;
    left: 12px;
    top: 11px;
    font-weight: 400;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }

  input:focus ~ label,
  input.ng-not-empty ~ label,
  textarea:focus ~ label,
  textarea.ng-not-empty ~ label,
  .group-select label {
    top: -10px;
    font-size: 14px;
    color: $lightBlue;
    background-color: $white;
    padding: 0 5px;
  }

  .ng-valid.ng-touched {
    border-color: $lightBlue;
  }

}

input[type="submit"][disabled],
.btn-pos[disabled],
.btn-pos.disabled,
.btn-neg[disabled],
.btn-neg.disabled {
  background-color: $lightBlue !important;
  border-color: $lightBlue !important;
}

oi-select .select-search {
  border: 1px solid $lightBlue;
  border-radius: 0;
}

.company-register-form,
.register-form,
.new-job-form,
.contact-form,
.user-form {
  width: 85%;
  max-width: 500px;
  margin: 0 auto;
  .custom-select > a.dropdown-toggle {
    border: 1px solid $lightBlue;
    padding: 6px 10px;
    height: 42px;
    color: $dark;
  }

  button.form-control {
    font-size: 1.4em;
    max-width: 180px;
    margin: 40px auto 0;
    display: inherit;
  }

  .btn-primary,
  .btn-primary:hover {
    background-color: $lightBlue;
    border-color: $lightBlue;
  }
}

.user-form {
  padding-top: 35px;
  label {
    text-transform: uppercase;
  }
  .text-danger {
    margin-top: -15px;
  }
  hr {
    margin: 35px 0 25px;
  }
  p {
    font-size: 1.2em;
    text-align: center;
  }
  .form-group {
    padding-left: 20px;
    position: relative;
  }
  .form-group:before {
    position: absolute;
    font-family: 'fontello';
    left: -20px;
    font-size: 20px;
    color: $midgrey;
  }
  .presentation:before {
    content: '\e823';
  }
  .language:before {
    content: '\e824';
  }
  .experience:before {
    content: '\e820';
  }
  .education:before {
    content: '\e825'
  }
  .competences:before {
    content: '\e821';
  }
  textarea,
  oi-select .select-search {
    border-color: $midgrey;
  }
}

.user-title {
  > div {
    display: table;
    width: 90%;
    margin: 0 auto;
    > div {
      display: table-cell;
      padding-bottom: 20px;
      vertical-align: middle;
      text-align: center;
      font-size: 1.2em;
    }
    > div:first-child {
      width: 85px;
      padding-right: 10px;
    }

  }
  h1 {
    text-transform: uppercase;
  }
  .upload-button {
    display: block;
    width: 85px;
    height: 85px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.1);
    box-sizing: border-box;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.5);

    input[type="file"] {
      width: 85px;
      height: 85px;
      opacity: 0;
      cursor: pointer;
    }
    .user-info-image {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      pointer-events: none;
      -webkit-transition: background .3s;
      transition: background .3s;
    }
    .icon-camera {
      text-align: center;
      width: 85px;
      position: absolute;
      z-index: 1;
      top: 0;
      height: 85px;
      text-shadow: 0px 0px 5px rgba(0,0,0,1);
      pointer-events: none;
      opacity: 0;
      -webkit-transition: opacity .2s;
      transition: opacity .2s;

      .icon-ic-camera {
        font-family: 'fontello';
        color: $white;
        content: '\e822';
        font-size: 26px;
        margin: 14px 8px -2px 0;
        display: inline-block;
      }
      span {
        font-size: 12px;
        display: block;
        text-align: center;
      }

    }
  }

  .upload-button:hover {
    .user-info-image {
      -webkit-filter: blur(3px);
      -moz-filter: blur(3px);
      -o-filter: blur(3px);
      -ms-filter: blur(3px);
      filter: blur(3px);
    }
    .icon-camera {
      opacity: 1;
    }
  }

}

.new-job-form {
  select {
    padding: 9px 8px;
  }
}

.new-job-form {
  .cate-group,
  .job-date {

    label {
      position: absolute;
      z-index: 1;
      background: $white;
      top: -10px;
      left: 12px;
      padding: 0 5px;
    }
  }
  .job-date {
    position: relative;
    margin-bottom: 26px;

    span.text-danger {
      margin-top: -12px;
    }

    .ng-invalid-pattern.ng-touched ~ label {
      color: $pink !important;
    }
  }
}

.select-login {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  p {
    margin: 30px 0;
    font-size: 1.2em;

    a {
      display: inline-block;
      margin-top: 10px;
      color: $brightBlue;
    }
  }
}

.job-approve {

  .main-content {
    padding: 35px 20px 0;
  }
  .job-review {
    display: none;
  }
  .buttons {
    text-align: center;
    margin: 30px auto 0;

    button:first-child {
      @include button-dark;
    }
    button:last-child {
      @include button-pink;
    }
    button {
      display: inline-block;
      margin: 0 3px;
      width: 45% !important;
    }
  }
  h3 {
    @include header-light;
  }
}

.complete {
  background: $lightBlue;
  color: $white;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 69px;
  text-align: center;
  overflow-y: auto;

  h1 {
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 400;
  }

  a.button {
    @include button-pink;
    max-width: 250px;
  }

  .icon-ic-envelope {
    font-size: 55px;
    display: inline-block;
    margin: 35px 15px 35px 0;
  }

  > div {
    height: 100%;
    display: table;
    width: 100%;
    max-width: 0 auto;

    > div {
      display: table-cell;
      vertical-align: middle;
      padding: 20px 20px 40px;
    }
  }

  button {
    @include button-white-border;
    max-width: none;
    margin-top: 30px;
  }
  p {
    font-size: 1.2em;
  }
  .icon-ic-check2 {
    font-size: 30px;
    color: $brightBlue;
  }

}

input:invalid {
  box-shadow: none;
}
textarea:focus, input:focus{
  outline: none;
}
