header {
  overflow: hidden;
}

.top-bar {
  width: 100%;
  display: table;
  background: $darkBlue;

  .top-logo {
    img {
      width: 100%;
      max-width: 165px;
      height: auto;
    }
  }
  > div {
    display: table-cell;
    padding-top: 10px;
    padding-bottom: 10px;
    vertical-align: middle;
    padding-left: 10px;
    text-align: right;
    
    button {
      background: none;
      border: 0;
      font-weight: 300;
      padding: 0;
      outline: 0;

      &:hover,
      &:focus {
        opacity: .7;
      }

      span {
        display: block;
        color: $white;
        text-align: center;
        font-size: 0.85em;
        letter-spacing: 0.02em;
      }
      .lang-icon {
        display: block;
        line-height: 27px;
        background: $pink;
        border: 0;
        text-transform: uppercase;
        font-size: 0.7em;
        letter-spacing: 0;
        margin: 0 auto 4px;
        @include circle(27px);
      }
      .lang-text {
        line-height: 1.1em;
      }
      .menu-icon {
        height: 27px;
        overflow: hidden;
        padding-top: 3px;
        margin: 0 auto 4px;

        i {
          display: block;
          background: $white;
          height: 5px;
          width: 30px;
          margin: 3px auto;
          -webkit-border-radius: 2px;
          border-radius: 2px;
        }
      }
    }
  }
  > div:last-child {
    padding-right: 17px;
  }
  > .top-logo {
    text-align: left;
    width: 100%;
    padding-left: 15px;

  }
  .back-button {
    text-align: left;
    font-size: 25px;
    padding-left: 3px;
    vertical-align: middle;

    .icon-ic-arrow-left {
      display: inline-block;
      vertical-align: middle;
      margin-right: -13px;
      margin-bottom: 3px;
    }

    a {
      color: $white;

      &:hover {
        opacity: .7;
      }
    }
  }
}
