.contact-form {
    text-align: center;

    .icon-ic-envelope {
        color: $pink;
        font-size: 55px;
        display: inline-block;
        margin: 20px 15px 20px 0;
    }

    input[type="submit"] {
        @include button-pink;
        margin: 15px auto 0;
        max-width: 250px;
    }
}

.contact-sent {
    background: $lightBlue;
    color: $white;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 69px;
    text-align: center;
    overflow-y: auto;

    h1 {
        font-size: 1.5em;
        line-height: 1.5em;
        font-weight: 400;
        text-transform: capitalize;
        margin: 0;
    }

    a.button {
        @include button-pink;
        max-width: 250px;
    }

    .icon-ic-envelope {
        font-size: 55px;
        display: inline-block;
        margin: 35px 15px 30px 0;
    }

    > div {
        height: 100%;
        display: table;
        width: 100%;
        max-width: 0 auto;

        > div {
            display: table-cell;
            vertical-align: middle;
            padding: 20px 20px 40px;
        }
    }
}