.contact-form {
  text-align: center;

  .icon-ic-envelope {
    color: $pink;
    font-size: 55px;
    display: inline-block;
    margin: 20px 15px 20px 0;
  }

  input[type="submit"] {
    @include button-pink;
    margin: 15px auto 0;
    max-width: 250px;
  }

  div {
    width: 90%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
}