.hero {
  @include clearfix;
}

.hero__slider {
  #popupVid {
    height: 100%;
    width: 100%;
    position: relative;

    iframe {
      width: 100%;
      height: 100%;
    }
    .close-x {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 2;
      text-align: center;
      height: 40px;
      width: 40px;
      display: block;
      cursor: pointer;

      .icon-ic-close {
        font-size: 18px;
        color: $white;
        line-height: 40px;
      }

    }
  }
  .section-title {
    font-weight: 400;
    @include vertical-align;
    position: absolute;
    width: 100%;
    text-align: center;
    padding: 0 30px;

    .icon-ic-arrow-right2 {
      display: inline-block;
      margin-top: 25px;
      font-size: 1.5em;
      cursor: pointer;
    }
  }
  background-position: center;
  height: 195px;

  .hero-slick,
  .hero-slick .slick-list,
  .hero-slick .slick-track,
  .hero-slick .slick-slide {
    height: 100%;
  }
  .slick-dots {
    bottom: 0;

    li {
      width: auto;
      height: auto;
      margin: 0;

      button:before {
        font-size: 35px;
        width: auto;
        height: auto;
        color: $white;
      }
    }
  }
  .slick-slide {
    position: relative;

    img {
      width: 100%;
      height: auto;
      @include vertical-align;
    }
  }

}

.hero__col {
  position: relative;
  float: left;
  height: 195px;
  width: 50%;
  text-align: center;
  display: flex;

  h3, h4 {
    text-align: center;
    color: $white;
    font-weight: 400;
  }

  h3 {
    padding-bottom: 20px;
    font-size: 1.5em;
  }

  h4 {
    font-size: 1em;
  }
}

.hero__col__content {
  margin: auto;
  padding: 20px;

  h3 {
    font-size: 1.5em;
  }

  a {
    color: $white;
    font-weight: 300;
    font-size: 1.2em;
  }
}

.hero__col--left {
  background: $pink;
}

.hero__col--right {
  background: $darkBlue;
}

.section-jobs {
  background: $white;
  overflow: hidden;

  .slick-list {
    padding: 0 20px;
  }

  .calendar {
    position: relative;
    width: 29px;
    text-align: center;
    font-weight: 700;
    vertical-align: middle;
    display: inline-block;
    margin: auto 5px auto 20px;
    font-size: 14px;
    line-height: 1em;
  }
  .calendar:before {
    @include calendar-icon;
  }

  h3 {
    vertical-align: middle;
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 1.5em;
  }

  .section-jobs__content {
    margin: 0 auto;
    padding: 25px 0 30px;

    .image-wrapper {
      margin: 5px auto 10px;
      height: 120px;
      overflow: hidden;
      position: relative;

      > div {
        background-size: cover;
        background-position: center center;
        height: 90px;
        border-radius: 5px 5px 0 0;
      }
      b {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 30px;
        line-height: 29px;
        display: block;
        color: $white;
        text-align: center;
        font-size: 1.4em;
        font-weight: 300;
        background: $pink;
        border-radius: 0 0 5px 5px;
      }
    }
    .slick-slide {
      text-align: center;
      padding: 0 5px;

      a {
        font-size: 1em;
        line-height: 1.2em;
        letter-spacing: 0.02em;
      }

    }

  }
  a {
    color: $lightBlue;

    span {
      word-wrap: break-word;
      -moz-hyphens:auto;
      -webkit-hyphens:auto;
      -o-hyphens:auto;
      hyphens:auto;
    }
  }
}

.slick-slider {
  margin-bottom: 0;
}

.section-jobs__content__placeholder {
  display: block;
  width: 120px;
  height: 120px;
}

.section-jobs__content-right {
  display: inline-block;
  position: absolute;
  right: 20px;
  margin-top: 5px;
  font-size: 0.7em;
  text-transform: uppercase;
  text-decoration: none;

  a {
    text-decoration: none;
    span {
      display: none;
    }
  }
  a:after {
    font-family: fontello;
    content: '\e80a';
    font-size: 1.4em;
    vertical-align: middle;
    margin-left: 4px;
  }
}

.section-categories {
  text-align: center;
  padding: 30px 0 275px;
  background: $lightBlue url("../assets/images/ui/home-categories.jpg") 62% bottom no-repeat;
  h2 {
    display: inline-block;
    vertical-align: middle;
    color: $white;
    text-align: center;
    margin: 15px auto;
    font-weight: 400;
    font-size: 1.5em;
  }
  h2:before {
    font-family: fontello;
    content: '\e806';
    margin-right: 5px;
  }
  p {
    color: $white;
    padding: 0 10%;
  }
  a.button {
    @include button-pink;
    min-width: 200px;
  }
  .select-wrapper {
    width: 100%;
    max-width: 270px;
    border-radius: 25px;
    position: relative;
    background: $pink;
    margin: 30px auto 0;

    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      width: 100%;
      padding: 0 20px;
      border-radius: 25px;
      outline: none;
      border: 0;
      color: $white;
      background: none;
      font-size: 1.2em;
      line-height: 45px;
      height: 45px;

      option {
        color: $dark;
        background: $white;
      }
      option:hover {
        background: $pink;
      }

    }
  }

  .select-wrapper:before {
    font-family: 'fontello';
    content: '\e800';
    position: absolute;
    right: 20px;
    color: $white;
    margin-top: 18px;
    font-size: 0.6em;
  }

}

//TODO: DELETE THIS COMMENTED ONE, NOT USED ANYMORE
/*.section-steps {
  background: $blue;
  position: relative;
  border-top: 1px solid $grey;

  img, p {
    display: inline-block;
    vertical-align: middle;
  }

  p {
    color: $white;
    max-width: 230px;
    text-align: center;
  }
}

.section-steps__content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 40px 0;

  ol {
    color: $white;
    text-align: left;
    font-size: 1.2em;
    padding: 0;
    margin: 10px 0 10px 40px;
    list-style-type: none;
    counter-reset: customlistcounter;

    li {
      padding: 25px 0 25px 35px;
      position: relative;
      counter-increment: customlistcounter;
    }
    li:before, li:after {
      position: absolute;
      height: 58px;
      display: block;
      width: 58px;
      text-align: center;
      top: 8px;
      left: -40px;
    }
    li:before {
      content: counter(customlistcounter) " ";
      font-size: 2em;
      line-height: 56px;

    }
    li:after {
      font-family: 'fontello';
      content: '\e803';
      font-size: 58px;
      line-height: 58px;
    }

  }
}*/

.section-instructions {
  padding: 40px 0 0;

  .slick-instructions {
    margin-top: 15px;
  }
  .slick-track {
    margin: 0 auto;
  }
  .slick-dots {
    bottom: 0;
    position: relative;

    li {
      width: auto;
      height: auto;
      margin: 0;

      button:before {
        font-size: 35px;
        width: auto;
        height: auto;
        color: $lightBlue;
      }
    }
  }

  .slick-list {
    padding-bottom: 5px !important;
    padding-top: 10px !important;
  }

  .slick-slide {
    text-align: center;
    background: $white;
    padding-top: 7px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;

    ul {
      list-style: none;
      margin: 0 auto;
      padding: 0;
      text-align: left;
      max-width: 300px;

      li {
        padding: 10px 0 10px 30px;
        position: relative;
      }
      li:before {
        content: '\e80c';
        font-family: 'fontello';
        position: absolute;
        left: 0;
        top: 5px;
        font-size: 1.5em;
      }
    }
    h3 {
      font-weight: 400;
      font-size: 1.5em;
      margin-bottom: 10px;
      display: inline-block;
      vertical-align: middle;
      width: 98%;
    }
    > div {
      padding: 20px 20px 90px;
      margin: 0 10px;
      -webkit-transition: margin 0.2s;
      transition: margin 0.2s;

    }
    > div:first-child {
      background: $white;
      border-radius: 5px 5px 0 0;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      padding-top: 0;
      padding-bottom: 0;

      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100px;
      }

      // Clear collapsing margin
      &:after {
        content: '';
        display: table;
        clear: both;
      }
    }
    > .pink {
      background: $pink !important;
    }
    > .blue {
      background: $blue !important;
    }
    > div:last-child {
      background: $lightBlue;
      color: $white;
      border-radius: 0 0 5px 5px;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
      margin-bottom: 5px;
      min-height: 300px;
      position: relative;
    }

    a {
      @include button-white-border;
      width: 145px;
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.section-partners {
  text-align: center;
  position: relative;
  padding: 10px 0 40px;

  h3 {
    font-weight: 400;
    font-size: 1.5em;
  }
  p {
    width: 80%;
    margin: 15px auto;
  }

  .group {
    font-size: 0;
    padding: 0 20px;

    > div {
      width: 50%;
      height: 50%;
      padding: 15px 5px;
      display: inline-block;
      vertical-align: middle;
      text-align: center;

      img {
        width: auto;
        max-height: 80px;
        max-width: 130px;
        -webkit-filter: grayscale(1);
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
        filter: gray;

        &.extra-padding {
          padding-top: 5%;
        }
        &.left-padding {
          padding-left: 10%;
        }
      }
    }
  }
}

.section-partners::before {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;

}

.section-title {
  margin: auto;
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
}

.section-title--white {
  color: $white;
}

.section-icon {
  display: inline-block;
  vertical-align: middle;
  padding-right: 10px;
  outline: 2px solid red;
}
