.hero {
	@include clearfix;
}
.hero__slider {
	background:
	linear-gradient(
      rgba(34, 37, 49, 0.5),
      rgba(34, 37, 49, 0.5)
    ),

	url($content + 'hero.png') no-repeat;
	@include cover-background;
	background-position:center;
	height:195px;
}

.hero__col {
	position: relative;
	float:left;
	height:195px;
	width:50%;
	text-align: center;
		display: flex;

	h3, h4 {
		font-size: 22px;
		text-align: center;
		color:$white;
	}

	h3 {
		padding-bottom:20px;
	}

	h4 {
		font-size:18px;
	}
}

.hero__col__content {
	margin:auto;
}

.hero__col--left {
	background:$pink;
}

.hero__col--right {
	background:$darkBlue;
}

.section-jobs {
	background:$lightGrey;

	h3 {
		display: inline-block;
		vertical-align: middle;
	}
}

.section-jobs__content {
	width:80%;
	margin:0 auto;

	a {
		color:#383F4E;
		font-size: 14px;
		text-transform: uppercase;
		text-decoration: none;
		display: inline-block;
		vertical-align: middle
	}
}

.section-jobs__content__placeholder {
	display: block;
	width: 120px;
	height: 120px;
}

.section-jobs__content-right {
	outline: 2px solid orange;
	display: inline-block;
	float:right;

	img {
		display: inline-block;
		vertical-align:middle;
	}
}

.section-categories {
	background:$lightBlue;
	text-align: center;
	height:575px;
	h2 {
		display: inline-block;
		vertical-align: middle;
		color:$white;
	}
	p {
		color:$white;
		padding:0 10%;
	}

	select {
		-webkit-appearance:none;
	    -moz-appearance:none;
	    appearance:none;
	    color:#383F4E;
	    width:270px;
	    padding: 20px 10px;
	    border-radius:40px;
	    outline: none;
	    background: url($ui + 'arrow-down.png') no-repeat right $white;

	}

}

.section-steps {
	background:$brightBlue;
	height:400px;
	position: relative;

	img, p {
		display: inline-block;
		vertical-align: middle;
	}

	p {
		color:$white;
		max-width:230px;
		text-align: center;
		padding-left:15%;
		outline: 2px solid pink;
	}

	img {
		max-width:50px;
		width:100%;
	}

	div {

		&:last-child {
			padding-bottom:0;
		}
	}
}

.section-steps__content {
	width:80%;
	margin:auto;
	outline: 2px solid black;
	@include vertical-align;
	text-align: center;
}

.section-steps__element {
	width:100%;
	outline: 2px solid red;
}

.section-instructions {
	height:630px;
}

.section-partners {
	height:320px;
	text-align:center;
	position: relative;
}

.section-partners::before {
    content:"";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(232, 235, 238, .77);
}

.section-title {
	font-size:24px;
	text-align:center;
	margin:auto;
	text-align: center;
	padding-top:45px;
}
.section-title--white {
	color:$white;
}

.section-icon {
	display: inline-block;
	vertical-align:middle;
	padding-right:10px;
	outline: 2px solid red;
}