.job-body-heading {
  text-align: center;

  span {
    color: $pink;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 0.02em;

  }
  span:after {
    content: ':-';
  }

  em {
    font-style: normal;
  }
  > div:last-child {
    display: none;
  }
  button {
    @include button-pink;
    padding: 0 40px;
    width: auto;
    max-width: none;
  }
  button:disabled {
    background-color: $lightHalfBlue;
    opacity: 0;
    -webkit-animation: fadeIn .2s 1s forwards;
    animation: fadeIn .2s 1s forwards;
  }
}

.job-header {
  padding: 15px;

  h1 {
    font-weight: 400;
    font-size: 1.5em;
    margin: 0;
  }
  h2 {
    font-weight: 400;
    font-size: 1.2em;
    margin: 10px 0 0;
  }

  > div {
    display: table;
    width: 80%;
    margin: 0 auto;

    > div {
      display: table-cell;
      vertical-align: middle;

      ul {
        display: inline-block;
        vertical-align: middle;
        width: 45%;
        min-width: 200px;
        margin: 0;
        list-style: none;
        padding: 5px 0;
      }
    }
  }

  .job-header-logo {
    @include circle(75px);
    margin-right: 8px;
  }

}

.job-body-wrapper {
  padding: 25px;

  h3 {
    @include header-light;
  }

}

.job-body-description {

  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: block;
      margin-left: 45px;
      padding: 18px 0;
      border-bottom: 1px $lightGrey solid;
      position: relative;
    }

    li:before {
      font-family: 'fontello';
      color: $grey;
      position: absolute;
      left: -45px;
      font-size: 25px;
      top: 9px;
      opacity: 0.85;
    }
    .job-description:before {
      content: '\e818';
    }
    .job-location:before {
      content: '\e812';
    }
    .job-date:before {
      content: '\e807';
    }
    .job-date span {
      position: absolute;
      color: $grey;
      left: -45px;
      top: 20px;
      opacity: 0.8;
      font-weight: 600;
      text-align: center;
      display: inline-block;
      width: 24px;
      font-size: 14px;
    }
    .job-language:before {
      content: '\e813';
    }

    .job-report {
      border-bottom: 0;
      margin-left: 0;
      text-align: center;

      a {
        color: $pink;
      }
    }
  }
}

.angular-google-map-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.angular-google-map {
  height: 100%;
}

#map_canvas {
  position: relative;
  height: 130px;
  width: 100%;
  background: $lightGrey;

  &.full-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    z-index: 2;
  }
}

button.map-zoom-in {
  background: none;
  border: 0;
  padding: 4px;
  z-index: 2;
  &::after {
    font-family: "fontello";
    content: '\e81d';
    color: $lightBlue;
    font-size: 35px;
  }
  &::before {
    content: '\25cf';
    color: $white;
    margin-left: 2px;
    margin-top: -15px;
    font-size: 50px;
    position: absolute;
    z-index: -1;
  }

  &:hover,
  &:focus {
    &::after {
      color: $lightBlueHover;
    }
  }

  &.map-zoom-out {
    &::after {
      font-family: "fontello";
      content: '\e81c';
      color: $lightBlue;
      font-size: 35px;
    }
    &::before {
      content: '\25cf';
      color: $white;
      position: absolute;
      margin-left: 2px;
      margin-top: -15px;
      font-size: 50px;
      z-index: -1;
    }

    top: 15px;
    margin: 0;
  }
  position: absolute;
  right: 10px;
  top: 50%;
  margin: -30px 0 0;
}

.map-infobox {
  h2 a {
    color: inherit;
  }
}

.job-list-title {

  .custom-select {
    width: 90%;
    max-width: 180px;
  }

  h1 {
    margin: -5px auto 5px;
  }

  .custom-select > a.dropdown-toggle > b::before {
    font-size: 7px;
    margin-left: 0;
    top: 0;
  }
}

a[href^="http://maps.google.com/maps"], a[href^="https://maps.google.com/maps"], .gm-style-cc {
  display: none !important;
}

.job-wrapper {
  height: 100%;
  position: relative;
  overflow: hidden;
  .custom-select {
    margin-bottom: 0;
  }
}

.job-list-wrapper {
  display: table;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 18px 0;

  > li {
    display: table-row;

    > div {
      display: table-cell;
      padding: 18px 0 18px 20px;
      vertical-align: middle;
    }
    > div:last-child {
      text-align: right;
      vertical-align: middle;
      color: $grey;
      font-size: 20px;
      padding-right: 10px;
      padding-left: 10px;

      a {
        color: $dark;
        opacity: 0.3;
      }
      a:hover {
        opacity: 1;
      }
    }
    .job-image {
      vertical-align: middle;
      width: 100px;

      a {
        @include circle(80px);
        margin-right: 8px;
      }
    }
    .job-desc {
      position: relative;
      padding-left: 5px;

      h3 {
        font-weight: 600;
        font-size: 1.2em;
        margin-bottom: 8px;

        a {
          color: $dark;
        }
      }
      p {
        font-size: 0.95em;
        line-height: 1.3em;
      }
      > div {
        display: table;
        width: 100%;
        height: 80px;
        > div {
          display: table-row;
          > div {
            display: table-cell;

          }
        }
        > div:last-child > div {
          vertical-align: bottom;
          padding-right: 55px;
        }
      }
      .location {

        span {
          padding-left: 15px;
          position: relative;
        }
        span:before {
          content: '\e812';
          font-family: 'fontello';
          margin-top: -2px;
          position: absolute;
          left: 0;
        }
      }

    }
    .job-rate {
      vertical-align: middle;
      position: relative;
      text-align: center;
      padding: 0;

      span {
        position: absolute;
        display: block;
        bottom: 17px;
        right: 0;
        color: $pink;
        font-weight: 600;
        font-size: 1.3em;
      }
      span:after {
        content: ':-';
      }
      em {
        font-style: normal;
        display: none;
        white-space: nowrap;
      }
    }
  }
}

.nav-job-list-bottom {
  text-align: center;
  padding-bottom: 15px;

  button {
    background: none;
    border: 0;
    display: inline-block;
    font-family: 'fontello';
    color: $dark;
    opacity: 0.3;
    position: relative;
    width: 35px;
    height: 35px;
    margin: 0 3px 3px;
    cursor: pointer;
    font-size: 14px;
  }
  .button-first:before {
    content: '\e804';
    position: absolute;
    top: 8px;
    left: 10px;
  }
  .button-first:after {
    content: '\e804';
    position: absolute;
    top: 8px;
    left: 18px;
  }

  .button-prev:before {
    content: '\e804';
    position: absolute;
    top: 8px;
    left: 13px;
  }

  .button-next:before {
    content: '\e80a';
    position: absolute;
    top: 8px;
    left: 14px;
  }

  .button-last:before {
    content: '\e80a';
    position: absolute;
    top: 8px;
    left: 10px;
  }
  .button-last:after {
    content: '\e80a';
    position: absolute;
    top: 8px;
    left: 18px;
  }
  button:hover {
    opacity: 1;
  }
}

.job-comment-list,
.user-job-comments .main-content > div,
.candidate-chat > div {
  clear: both;
  width: 100%;
  overflow: hidden;

  input[type="text"] {
    border-radius: 5px;
    border: 1px solid $midgrey;
    margin-bottom: 35px;
  }
  .translate span {
    cursor: pointer;
  }

  ul {
    display: block;
    list-style: none;
    margin: 0;
    padding: 20px 0;
    clear: both;
    overflow: hidden;

    li {
      position: relative;
      clear: both;
      overflow: hidden;
      padding: 8px 0;

      > div:last-child {
        @include circle(35px);
        float: left;
        margin-top: 5px;
      }
      > div:first-child {
        float: right;
        width: calc(100% - 52px);
        border-radius: 5px;
        background: $midgrey;
        box-sizing: border-box;
        padding: 10px 15px;
      }
    }

    li.right {
      position: relative;
      > div:last-child {
        float: right;
      }
      > div:first-child {
        float: left;
      }
    }
  }
  .right {
    > div:first-child {
      text-align: right;
    }
  }
  ul li > div:first-child {
    background: none !important;
    padding: 0 !important;
    border-radius: 0 !important;
    > div:last-child {
      border-radius: 5px;
      background: $midgrey;
      padding: 10px 15px;
      margin-top: 3px;
    }
  }

  .translate-from {
    margin: 10px 0px 1px;
    text-align: left;
    strong {
      font-weight: normal;
      font-size: .8em;
    }
  }
  .rtl {
    text-align: right;
  }
  .ltr {
    text-align: left;
  }

  .messenger,
  .datetime {
    padding: 0 3px;
    display: inline-block;
  }
}

.user-job-comments {
  .main-content {
    h1 {
      @include header-light;
    }
    input[type="text"] {
      margin-bottom: 0;
    }
  }

  .main-content {
    padding-bottom: 0;
    padding-top: 5px;

    ul li > div:first-child {
      background: none !important;
      padding: 0 !important;
      border-radius: 0 !important;
      > div:last-child {
        border-radius: 5px;
        background: $midgrey;
        padding: 10px 15px;
        margin-top: 3px;
      }
    }
  }
  .right {
    > div:first-child {
      text-align: right;
    }
  }
  .translate-from {
    margin: 10px 0px 1px;
    text-align: left;
    strong {
      font-weight: normal;
      font-size: .8em;
    }
  }
  .rtl {
    text-align: right;
  }
  .ltr {
    text-align: left;
  }

  .messenger,
  .datetime {
    padding: 0 3px;
    display: inline-block;
  }
}

.candidate-chat {
  .translate-from {
    margin: 10px 0px 1px;
    text-align: left;
    strong {
      font-weight: normal;
      font-size: .8em;
    }
  }
  .rtl {
    text-align: right;
  }
  .ltr {
    text-align: left;
  }
  .messenger,
  .datetime {
    padding: 0 3px;
    display: inline-block;
  }
  h3 {
    padding: 20px;
    margin: 0;
    background: $lightBlue;
    font-size: 1.2em;
    text-align: center;
    color: $white;
    font-weight: 400;
  }
  > div {
    padding-top: 25px;
    ul {
      padding: 0 25px;
      li {
        > div:first-child {
          float: right;
          width: calc(100% - 52px);
          box-sizing: border-box;
          background: none;
          padding: 0;
          border-radius: 0;
          text-align: left;

          > div:last-child {
            border-radius: 5px;
            background: $lightGrey;
            border: 1px solid $midgrey;
            padding: 10px 15px;
            margin-top: 3px;
          }
        }
      }
    }
    ul li.right > div:first-child {
      > div:first-child {
        text-align: right;
      }
      > div:last-child {
        background: $midgrey;
      }
    }

  }
  form {
    border-bottom: 1px solid $lightGrey;
    border-top: 1px solid $lightGrey;
    margin-top: 30px;

    > div {
      display: table;
      width: 100%;

      input[type="text"] {
        border: 1px solid $midgrey;
        background: $lightGrey;
        border-radius: 25px;
        margin: 0;
      }
      input[type="submit"] {
        color: $blue;
        font-weight: 700;
        border: 0;
        background: none;
        font-size: 1.2em;
        white-space: nowrap;
      }
      > div {
        display: table-cell;
        vertical-align: middle;
        padding: 15px 25px;
      }
      > div:first-child {
        padding-right: 15px;
      }
      > div:last-child {
        width: 82px;
        text-align: center;
        text-align: right;
        padding-left: 0;
      }
    }
  }
  .translate {
    text-align: center;
    padding: 10px 25px;

    span:after {
      font-family: 'fontello';
      content: '\e800';
      font-size: 0.5em;
      vertical-align: middle;
      color: lightgrey;
      margin-left: 5px;
    }
  }
}

.arriver-chat {
  margin: -25px -20px -20px;
  > div {
    padding-top: 20px;
  }
  ul {
    padding: 0 25px !important;
  }
  input[type="submit"] {
    padding: 0 !important;
    margin: 0 !important;
    min-width: none;
  }
}

job-body, job-comment {
  max-width: 800px;
  margin: 0 auto;
}

.new-job-form {
  .cate-group {
    position: relative;
  }
}

.sticky {
  .sticy-button {
    .button {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 2;
    }
  }
}

.sticy-button {
  margin: 0 -25px;

  .button, .button-disabled {
    text-align: center;
    background: $pink;
    color: $white;
    font-weight: 400;
    font-size: 1.3em;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    line-height: 1.1em;
    padding: 18px;

    &:hover,
    &:focus {
      background: $pinkHover;
    }
  }
  .button-disabled {
    background-color: $lightHalfBlue;
    opacity: 0;
    -webkit-animation: fadeIn .2s 1s forwards;
    animation: fadeIn .2s 1s forwards;
    cursor: default;

    &:hover,
    &:focus {
      background-color: $lightHalfBlue;
    }
  }
}

.job-more-wrapper {
  margin: 0 -25px -25px;
  padding-top: 2px;

  .main-title, .button {
    padding: 18px;

    h2 {
      font-weight: 400;
      font-size: 1.3em;
      text-transform: uppercase;
    }
  }
  h3 {
    border: 0;
    margin: 5px 0 8px 0;
    padding: 0;
    text-transform: capitalize;
  }

  #map_canvas {
    display: none;
  }
  .job-list-wrapper {
    margin-top: 0;
    > li {
      > div {
        border-bottom: 1px solid $lightGrey;
      }
    }
  }
}

job-body, job-comment {
  max-width: 800px;
  margin: 0 auto;
}

.new-job-form {
  .cate-group {
    position: relative;
    .form-group {
      margin-bottom: 0;
    }
    .form-error-detail {
      margin-bottom: 15px;
    }
  }
}

.user-job-header {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;

  > ul {
    display: table;
    table-layout: fixed;
    margin: 10px 0 0;
    padding: 0;
    list-style: none;
    width: 100%;
    text-transform: uppercase;

    > li {
      display: table-cell;
    }
    > li.sel {
      border-bottom: 5px solid $pink;
    }

    a {
      color: $white;
      text-decoration: none;
      display: block;
      padding: 10px;

    }
    a:hover {
      opacity: 0.7;
    }
  }

  h1 {
    margin: 0;
  }
}

.user-job-content {
  h2 {
    background: $lightGrey;
    text-transform: uppercase;
    font-weight: 400;
    text-align: center;
    font-size: 1em;
    padding: 10px;
    margin-bottom: 1px;

    i {
      font-size: 7px;
      vertical-align: middle;
      margin-left: 3px;
      opacity: 0.5;
    }
  }
  ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    > li {
      display: table;
      width: 100%;

      h3 {
        font-weight: 400;
        font-size: 1em;
      }
      p {
        font-size: 0.9em;
        margin: 5px 0;
      }

      > div {
        display: table-cell;
        padding: 20px 30px;
        border-bottom: 1px solid $lightGrey;
        vertical-align: top;
        cursor: pointer;
      }
      > div:first-child {
        text-align: center;
        text-transform: uppercase;
        line-height: 1.3em;
        padding-right: 0;
        width: 45px;

        span {
          font-size: 1.3em;
        }
      }
    }
    > li.select {
      border-left: 3px solid $pink;

      h3 {
        font-weight: 700;
        color: $dark;
      }

    }
    > li:last-child > div {
      border-bottom: 0;
    }
  }
  .wait-rating li {
    > div:nth-child(2) {
      padding-bottom: 12px;
    }
    > div:last-child {
      text-align: right;
      padding-left: 0;
    }
  }
  .stars {
    font-size: 24px;
  }
  .user-info-image {
    @include circle(35px);
    margin-top: 5px;
  }
}

.user-job-wrapper {
  height: 100%;
  background: $lightGrey;

  .job-owner-header {
    padding-bottom: 5px;

    h2 {
      margin: 8px;
      text-transform: none;
      font-weight: 400;
    }
    .buttons {
      white-space: nowrap;
    }
    .button {
      @include button-white-border;
      height: 35px;
      line-height: 33px;
      margin: 8px;
      max-width: none;
    }
  }

  .main-content {
    padding: 20px;

    ul {
      display: block;
      margin: 0;
      padding: 0;
      list-style: none;

      li {

        > a {
          border: 1px solid $midgrey;
          border-radius: 0 3px 3px 0;
          margin: 0 auto 10px;
          background: $white;
          padding: 15px;
          max-width: 700px;
          color: $lightBlue;
          text-decoration: none;
          display: block;
        }
      }
      li.select {
        > a {
          border-left: 3px solid $pink;
          > span {
            font-weight: 700;
            color: $dark;
          }
        }
      }
      li:last-child {
        > a {
          margin-bottom: 0;
        }
      }
    }

  }

}

.main-title {
  .job-owner-header {
    padding: 0;
    h2 {
      margin-top: 0;
    }
  }
}

.user-job-cadidates {
  .stars, .rating {
    font-size: 20px;
    margin-right: 5px;
  }
  .heart {
    font-size: 35px;
    line-height: 25px;
    .select {
      font-size: 25px;
      line-height: 35px;
    }
  }

  > h1,
  > p {
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
  }

  > h1 {
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 15px;
  }

  > ul {
    display: table;
    width: 100%;
    margin: 35px 0 0;
    padding: 0;
    list-style: none;
    > li {
      display: table-row;
      > div {
        display: table-cell;
        border-top: 1px solid $lightGrey;
        padding: 15px 25px;
        vertical-align: middle;
        line-height: 1.2em;

        a {
          color: $lightBlue;
          text-decoration: none;
          font-weight: 700;
        }

        span {
          white-space: nowrap;
        }
      }
      > div:nth-child(2) {
        padding-left: 0;
        padding-right: 0;
      }
      > div:first-child {
        width: 85px;
      }
    }
  }

  .user-info-image {
    @include circle(35px);
  }

}

.modal-performed-job,
.modal-assign-job {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  overflow-y: auto;

  > div {
    display: table;
    height: 100%;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    > div {
      display: table-cell;
      vertical-align: middle;
      height: 100%;
      text-align: center;
      padding: 30px;
      .user-info-image {
        @include circle(70px);
        margin-bottom: 25px;
      }
      h3 {
        font-weight: 600;
        font-size: 1.4em;
        line-height: 1.4em;
      }
      h4 {
        font-size: 1.2em;
        margin: 5px 0px;
      }
      p {
        margin: 15px 0;
      }
      .button.pink {
        @include button-pink;
        max-width: 115px;
        margin: 35px 5px 0;
        &:disabled {
          opacity: $btnOpacityDisabled;
        }
      }
      .button.dark {
        @include button-dark;
        max-width: 115px;
        margin: 35px 5px 0;
      }
      .button.submit {
        min-width: 200px;
        margin-top: 10px;
      }
      .rating {
        font-size: 35px;
        > span {
          cursor: pointer;
        }
        > span::before {
          content: '\2606'; //2605
        }
        &.score1 {
          > span:nth-child(1)::before {
            content: '\2605';
            color: $pink;
          }
        }
        &.score2 {
          > span:nth-child(1)::before {
            content: '\2605';
            color: $pink;
          }
          > span:nth-child(2)::before {
            content: '\2605';
            color: $pink;
          }
        }
        &.score3 {
          > span:nth-child(1)::before {
            content: '\2605';
            color: $pink;
          }
          > span:nth-child(2)::before {
            content: '\2605';
            color: $pink;
          }
          > span:nth-child(3)::before {
            content: '\2605';
            color: $pink;
          }
        }
        &.score4 {
          > span:nth-child(1)::before {
            content: '\2605';
            color: $pink;
          }
          > span:nth-child(2)::before {
            content: '\2605';
            color: $pink;
          }
          > span:nth-child(3)::before {
            content: '\2605';
            color: $pink;
          }
          > span:nth-child(4)::before {
            content: '\2605';
            color: $pink;
          }
        }
        &.score5 {
          > span:nth-child(1)::before {
            content: '\2605';
            color: $pink;
          }
          > span:nth-child(2)::before {
            content: '\2605';
            color: $pink;
          }
          > span:nth-child(3)::before {
            content: '\2605';
            color: $pink;
          }
          > span:nth-child(4)::before {
            content: '\2605';
            color: $pink;
          }
          > span:nth-child(5)::before {
            content: '\2605';
            color: $pink;
          }
        }
      }
      input[type="text"] {
        margin-top: 5px;
      }
    }
  }
}

.user-modal-perform-show {
  text-align: center;
  background: $white;
  height: calc(100% - 220px);

  h3 {
    font-weight: 600;
    font-size: 1.4em;
    line-height: 1.4em;
    margin: 5px 0px;
  }
  h4 {
    font-size: 1.2em;
    margin: 5px 0px;
    line-height: 1.4em;
  }
  p {
    margin: 15px 0;
  }
  .material-input {
    max-width: 500px;
    padding: 0 5px;
    margin: 25px auto;
  }
  .button.pink {
    @include button-pink;
    min-width: 115px;
    margin: 15px 5px;
    &:disabled {
      opacity: $btnOpacityDisabled;
    }
  }
  .button.dark {
    @include button-dark;
    min-width: 115px;
    margin: 15px 5px;
  }
  .button.submit {
    min-width: 200px;
    margin-top: 10px;
  }
  input[type="submit"] {
    margin-top: 10px;
    @include button-pink;
  }
}

.modal-performed-job {
  background: $white;
}

.modal-assign-job {
  background: $lightBlue;
  color: $white;
  > div > div .button.dark {
    border: 1px solid $white;
  }
  .icon-ic-close {
    color: $white;
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 1.6em;
  }
}

.user-header {
  background: $lightBlue;
  padding: 25px 25px 5px;
  color: $white;
  > div {
    display: table;
    width: 100%;
    > div {
      display: table-cell;
      vertical-align: top;
      text-align: left;
    }
    > div:first-child {
      width: 80px;
    }
  }
  .user-info-image {
    @include circle(70px);
  }
  h2 {
    font-size: 1.2em;
    font-weight: 600;
  }
  .rating, .heart {
    color: $pink;
    font-size: 1.3em;
  }
  .rating {
    padding-right: 5px;
  }
}

.user-job-candidate-topmenu {
  background: $lightBlue;
  color: $white;
  .message-botton {
    padding-left: 105px;
    padding-bottom: 20px;
    a {
      @include button-white-border-small;
    }
  }
  a {
    color: $white !important;
    text-decoration: none;
  }
  > ul {
    display: table;
    width: 100%;
    max-width: 1024px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    li {
      display: table-cell;
      text-align: center;
      padding: 0 5px 5px;
      a {
        display: inline-block;
        padding: 5px 0 2px;
        border-bottom: 6px solid $lightBlue;
        text-transform: uppercase;
      }
      a.sel {
        border-bottom: 6px solid $pink;
      }
    }
  }
}

.user-job-status {
  background: $pink;
  padding: 15px;
  color: $white;
  text-align: center;

  > div > div:first-child {
    font-size: 1.2em;
  }
  a {
    @include button-white-border-small;
    margin-top: 15px;
    margin-bottom: 10px;
    min-width: 150px;
  }
}

.candidate-profile {
  padding: 25px;
  h3 {
    @include header-light;
    position: relative;

    .demo-icon {
      position: absolute;;
      color: $midgrey;
      font-size: 1.2em;
      left: -40px;
    }
  }
  p {
    margin: 8px 0;
  }
  > div {
    padding: 0 0 0 40px;

    > ul {
      margin: 8px 0;
      list-style: none;
      padding: 0;
    }
  }
}

.candidate-referencer {

  > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: table;
    width: 100%;
    > li {
      display: table-row;
      > div {
        display: table-cell;
        padding: 20px 10px;
        border-bottom: 1px solid $lightGrey;
        vertical-align: top;
        p {
          margin: 0;
        }
      }
      > div:first-child {
        padding-left: 20px;
      }
      > div:last-child {
        padding-right: 20px;
        text-align: center;
        > span {
          font-size: 1.4em;
        }
      }
    }
  }
  .rating {
    font-size: 1.5em;
    > span {
      &::before {
        content: '\2606';
      }
      &.select::before {
        content: '\2605';
      }
    }
  }
  .user-info-image {
    @include circle(35px);
    margin-top: 5px;
  }
}