.Job {
}

.Job-header {
  padding: $spacing 0;

  background: $darkGrey;
  color: $white;
}

.Job-header-logo {
  background: $white;

  text-align: center;
  line-height: 100px;

  @include circle(100px);

  > img {
    max-width: 80%;
  }
}

.Job-header-info {
  margin-top: $spacing * 2;

  list-style: none;

  text-align: center;
}

.Job-body-heading {
  text-align: center;
}

.Job-body-heading-total {
  display: block;
  font-size: 2em;
  font-weight: bold;
  color: $pink;
}

.Job-body-description {
  h3 {
    width: 100%;
    border-bottom: 1px $lightGrey solid;

    text-transform: uppercase;
  }
}

.Job-body-description-inner {
  padding-left: $spacing * 2;
}

.angular-google-map-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.angular-google-map {
  height: 100%;
}

#map_canvas {
  position: relative;
  height: 400px;
  width: 100%;
  &.full-screen {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

button.map-zoom-in {
  background-color: #000;
  color: #fff;
  font-size: 32px;
  padding: 4px;
  z-index: 2;
  &::after {
    content: '+';
  }
  &.map-zoom-out {
    &::after {
      content: '-';
    }
  }
  position: absolute;
  right: 0;
  top: calc(50% - 50px);
}

