.lang-page {
  @include popup-page;

  .just-arrived-logo {
    @include just-arrived-logo;
    height:40px;
    position: absolute;
    left: 0;
    right: 0;
    top: 20px;
  }

  .credentials {
    display: block;
    text-align: center;
    position: relative;
    top: 3em;
    transform: scale(0.75);

    img {
      max-height: 50px;
      max-width: 130px;
      width: auto;
      margin: 0 auto;
      padding: 5px 10px 10px 10px;
    }

    .start_name {
      padding-top: 5px;
    }
  }

  .prominent {
    font-weight: bold;
  }

  .lang-wrapper {
    display: table;
    width: 95%;
    height: 100%;
    max-width: 800px;
    margin: 0 auto;

    > div {
      padding: 90px 30px 30px;
      display: table-cell;
       vertical-align: middle;
      position: relative;

      > div {
        font-size: 0;
        padding: 25px 0;
        text-align: center;
      }
    }
  }

  h2 {
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.4em;
  }
  p {
    text-align: center;
  }
  a {
    color: $brightBlue;
  }

   button {
    background: none;
    border: 0;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    margin: 12px;

    &:hover,
    &:focus {
      opacity: .95;

      .lang-icon {
        background: $transparentHover;
      }
    }

    span {
      display: block;
      margin: 0 auto;
      text-align: center;
    }

    .lang-icon {
      width: 60px;
      height: 60px;
      display: inline-block;
      line-height: 60px;
      box-sizing: border-box;
      border: 1px solid $white;
      -webkit-border-radius: 50%;
      border-radius: 50%;
      margin-bottom: 7px;
      text-transform: uppercase;

    }
    .lang-text {
      font-size: 11px;
    }
  }
  button.select {
    &:hover,
    &:focus {
      .lang-icon {
        background: $pinkHover;
      }
    }

    .lang-icon {
      border: 1px solid $pink;
      background: $pink;
      color: $white;
    }
  }

  .close-x {
    @include close-popup;
  }

}
