.setting-page {
  @include popup-page;
  background: $lightBlue;

  .close-x {
    @include close-popup;
  }
  h2 {
    font-weight: 400;
    font-size: 1.5em;
    min-width: 130px;
  }
  > div {
    text-align: center;
    width: 100%;
    height: 100%;
    display: table;
    > div {
      text-align: center;
      display: table-cell;
      vertical-align: middle;

      > div {
        padding: 20px 25px;
        margin: 0 auto;
        min-height: 430px;
      }

    }
  }
  form {

    > div {
      display: table;
      width: 100%;
      > div {
        display: table-cell;
        text-align: left;
      }
    }
    > div:first-child {
      > div {
        text-align: center;
        vertical-align: middle;
        padding-bottom: 10px;
      }
      > div:first-child {
        padding-right: 10px;
      }
    }
    .group {
      border-bottom: 1px solid $grey;
      margin-bottom: 5px;
      > div {
        display: table-row;
        > div {
          display: table-cell;
          border-top: 1px solid $grey;
          text-align: left;
          position: relative;
        }
      }
    }

  }
  label {
    white-space: nowrap;
    .demo-icon {
      font-size: 20px;
    }
    .icon-ic-email {
      font-size: 14px;
    }
    .icon-ic-user3 {
      font-size: 24px;
    }
  }
  input, select {
    background: none;
    border: none;
  }
  input[type="submit"] {
    @include button-white-border;
    min-width: 220px;
    border: 1px solid $white !important;
  }
  .upload-photo {
    margin-bottom: 5px;
    @include circle(75px);
    box-shadow:none;
    border: 1px solid $white;
    position: relative;
    input[type="file"] {
      width: 75px;
      height: 75px;
      display: block;
      opacity: 0;
      cursor: pointer;
    }
    > div {
      width: 75px;
      height: 75px;
      display: block;
      position: absolute;
      background-size: cover;
      top: 0;
      left: 0;
      pointer-events: none;
      text-align: center;
      line-height: 71px;
    }
    .icon-ic-camera {
      font-size: 22px;
      text-shadow: 0px 0px 5px rgba(56, 63, 78, 1);
      color: $white;
      margin-right: 7px;
      opacity: 0;
      -webkit-transition: all .2s;
      transition: all .2s;
    }
    .user-info-image {
      -webkit-transition: all .3s;
      transition: all .3s;
    }
  }
  .upload-photo {
    .user-info-image {
      -webkit-filter: blur(2px);
      filter: blur(2px);
    }
    .icon-ic-camera {
      opacity: 1;
    }
  }
  input[type="email"], input[type="password"], input[type="text"], input[type="number"], textarea, select {
    padding: 8px 10px;
  }
  .setting-bank-form {
    .form-group {
      position: relative;
      margin: 0;
    }
    .form-error-detail {
      position: absolute;
      margin: 0;
      right: 0;
      top: -2px;
      .text-danger {
        margin: 0;
        font-size: 0;
        color: $lightBlue;

      }
      .text-danger:after {
        content: '\2717';
        font-size: 26px;
        font-weight: bold;
        color: $pink;
      }
    }
    .bank-group {
      display: table;
      width: 100%;
      > div {
        display: table-cell;
        text-align: left;
        border-bottom: 1px solid $grey;
      }
    }
    input[type="submit"] {
      margin-top: 20px;
    }
    input:-webkit-autofill,
    input:-webkit-autofill:focus {
      -webkit-box-shadow: 0 0 0 50px $lightBlue inset;
      color: $white;
    }
  }
  .form-profile {
    label.error {
      position: absolute;
      right: 0;
      top: -2px;
      display: none;
    }
    .ng-invalid.ng-touched ~ label.error{
      display: block;
    }
    .ng-invalid.ng-touched ~ label.error:after {
      content: '\2717';
      font-size: 26px;
      font-weight: bold;
      color: $pink;
    }
    .has-error ~ label.error{
      display: block;
    }
    .has-error ~ label.error:after {
      content: '\2717';
      font-size: 26px;
      font-weight: bold;
      color: $pink;
    }

  }

}


.name-group {
  input:first-child {
    padding-bottom: 0;
  }
  input:last-child {
    padding-top: 0;
  }
}
.setting-tab {
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-bottom: 5px;
  > a {
    display: table-cell;
    color: $white;
    border-bottom: 6px solid $lightBlue;
    padding: 15px 0 5px;
    text-decoration: none;
    text-transform: uppercase;
  }
  > a.sel {
    border-bottom: 6px solid $pink;
  }
}
