// Global CSS goes here
html, body {
  height: 100%;
}

html, div {
  box-sizing: border-box;
}

body * {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-weight: 600;
  text-align: center;
  font-size: 1.6em;
  margin: 35px 0 30px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
h2, h3, strong, b {
  font-weight: 700;
}

a,
button,
input[type="submit"],
input[type="button"]{
  outline: none !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

p, li, input, textarea {
  font-weight: 400;
}
a {
  color: $blue;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  max-width: 1200px;
  outline: 2px;
  margin: 0 auto;
  width: 100%;
}

.row {
  margin: 0;
}

.wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;

  header {
    display: table-row;
  }
  > .container-fluid {
    display: table-row;
    padding: 0;
    height: 100%;
  }
  footer {
    display: table-row;

    p {
      margin: 0;
    }
    > div {
      display: table-cell;
      background: $lightBlue;
      color: $white;
      padding: 30px;
      font-size: 1.2em;

      span {
        white-space: nowrap;
      }
    }
    a {
      color: $white;
    }
  }

}

.main-title {
  background: $lightBlue;
  padding: 30px;
  text-align: center;
  color: $white;

  h1 {
    font-weight: 400;
    font-size: 1.5em;
    text-transform: capitalize;
    margin: 0;
  }
  h2 {
    font-weight: 600;
    font-size: 1.2em;
    text-transform: capitalize;
  }
}
.main-title.pink {
  background: $pink;
}

.main-content {
  padding: 35px 20px;
}
.stars, .rating, .heart {
  white-space: nowrap;
  font-weight: 300;
  color: $midgrey;
  .select {
    color: $pink;
  }
}
.bottom-text-center {
  margin-bottom: 0;
  p {
    margin: 25px 0 0;
    text-align: center;
  }
  a {
    font-size: 1.2em;
    color: $brightBlue;
    display: inline-block;
    padding-top: 5px;
  }
}
.close-bar {
  display: none;
  position: fixed;
  left: 0;
  right: 375px;
  bottom: 0;
  top: 0;
  cursor: pointer;
}