// Global CSS goes here
html, body {
  height: 100%;
}

html, div {
  box-sizing: border-box;
}

body * {
  font-family: 'Open Sans', sans-serif;
}
h1 {
  font-weight: 600;
  text-align: center;
  font-size: 1.6em;
  margin: 35px 0 30px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
h2, h3, strong, b {
  font-weight: 700;
}

a,
button,
input[type="submit"],
input[type="button"]{
  outline: none !important;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

p, li, input, textarea {
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  max-width: 1200px;
  outline: 2px;
  margin: 0 auto;
  width: 100%;
}

.row {
  margin: 0;
}

.wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;

  header {
    display: table-row;
  }
  > .container-fluid {
    display: table-row;
    padding: 0;
    height: 100%;
  }
  footer {
    display: table-row;

    p {
      margin: 0;
    }
    > div {
      display: table-cell;
      background: $lightBlue;
      color: $white;
      padding: 30px;
      font-size: 1.2em;

      span {
        white-space: nowrap;
      }
    }
  }
}

.main-title {
  background: $lightBlue;
  padding: 30px;
  text-align: center;
  color: $white;

  h1 {
    font-weight: 400;
    font-size: 1.5em;
    text-transform: capitalize;
    margin: 0;
  }
  h2 {
    font-weight: 600;
    font-size: 1.2em;
    text-transform: capitalize;
  }
}
.main-title.pink {
  background: $pink;
}

.main-content {
  padding: 35px 20px;
}
.stars, .rating, .heart {
  white-space: nowrap;
  font-weight: 300;
  color: $midgrey;
  .select {
    color: $pink;
  }
}
#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: $white;
  z-index:99999;
  overflow: hidden;
  > div {
    position: fixed;
    width: 90px;
    height: 90px;
    display: block;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    opacity: 0.2;
    > div {
      width: 90px;
      height: 90px;
      display: block;
      background: url("../assets/images/ui/loader.svg") center center no-repeat;
      background-size: contain;
      -webkite-animation: spin 4s linear infinite;
      animation: spin 4s linear infinite;
     }
  }
}