// Global CSS goes here
html, body {
  height: 100%;
}

html, div {
  box-sizing: border-box;
}

body * {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, strong, b {
  font-weight: 700;
}

a:focus {
  outline: 0;
}

p, li, input, textarea {
  font-weight: 400;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.container {
  max-width: 1200px;
  outline: 2px;
  margin: 0 auto;
  width: 100%;
}

.row {
  margin: 0;
}

.wrapper {
  display: table;
  table-layout: fixed;
  width: 100%;
  height: 100%;

  header {
    display: table-row;
  }
  > .container-fluid {
    display: table-row;
    padding: 0;
    height: 100%;
  }
  footer {
    display: table-row;
    > div {
      display: table-cell;
      background: $lightBlue;
      color: $white;
      padding: 35px 0 40px;
      font-size: 1.2em;

      p {
        width: 80%;
        margin: 0 auto;

        span {
          white-space: nowrap;
          padding-right: 10px;
        }
      }
    }
  }
}
