// Order of the includes matters, and it is: normal, bold, italic, bold+italic.
@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    @if $asset-pipeline == true {
      src: font-url('#{$file-path}.eot');
      src: font-url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
        //font-url('#{$file-path}.svg##{$font-family}') format('svg'),
      font-url('#{$file-path}.woff') format('woff'),
      font-url('#{$file-path}.ttf') format('truetype');

    } @else {
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
        //url('#{$file-path}.svg##{$font-family}')      format('svg'),
      url('#{$file-path}.woff') format('woff'),
      url('#{$file-path}.ttf') format('truetype');
    }
  }
}

// Modern micro clearfix provides an easy way to contain floats without adding additional markup.
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin cover-background {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@mixin flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
}

@mixin circle($size) {
  border-radius: 50%;
  height: $size;
  width: $size;
  overflow: hidden;
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  vertical-align: middle;
  box-shadow: inset 0px 0px 1px 0px rgba(0,0,0,0.2);

}

@mixin just-arrived-logo {
  display: block;
  background: url("../assets/images/ui/logo.svg") center center no-repeat;
  background-size: contain;
}

@mixin calendar-icon {
    display: block;
    content: '\e807';
    position: absolute;
    font-family: fontello;
    font-size: 29px;
    line-height: 1em;
    left: 1px;
    top: -12px;
    font-weight: 300;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($top, $left, $blur, $color, $inset:"") {
    -webkit-box-shadow: $top $left $blur $color #{$inset};
    -moz-box-shadow: $top $left $blur $color #{$inset};
    box-shadow: $top $left $blur $color #{$inset};
}

@mixin button-pink {
  height: 45px;
  line-height: 43px;
  font-size: 1.3em;
  color: $white;
  background: $pink;
  padding: 0 20px;
  width: auto;
  margin-top: 20px;
  border: 0;
  border-radius: 23px;
  text-decoration: none;
  display: inline-block;

  &:hover,
  &:focus {
    background: $pinkHover;
  }
}
@mixin button-dark {
  height: 45px;
  line-height: 43px;
  font-size: 1.3em;
  color: $white;
  background: $lightBlue;
  padding: 0 20px;
  width: auto;
  margin-top: 20px;
  border: 0;
  border-radius: 23px;
  text-decoration: none;
  display: inline-block;

  &:hover,
  &:focus {
    background: $lightBlueHover;
  }
}
@mixin button-white-border {
  border: 1px solid $white;
  color: $white;
  text-decoration: none;
  height: 45px;
  line-height: 43px;
  text-align: center;
  border-radius: 23px;
  background: none;
  padding: 0 20px;
  width: auto;
  margin-top: 15px;
  font-size: 1.2em;
  display: inline-block;

  &:hover,
  &:focus {
    background: $transparentHover;
    opacity: .95;
  }
}
@mixin button-white-border-small {
  border: 1px solid $white;
  color: $white;
  text-decoration: none;
  padding: 5px 20px;
  font-weight: 400;
  font-size: 1.2em;
  border-radius: 20px;
  white-space: nowrap;
  display: inline-block;
}
@mixin header-light {
  width: 100%;
  border-bottom: 1px $lightGrey solid;
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.1em;
  padding-bottom: 10px;
  margin: 20px 0 0;
  text-align: left;
}
@mixin popup-page {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 0px;
  margin: 0;
  background: $darkBlue;
  overflow-y: auto;
  color: $white;
  z-index: 999;
  opacity: 0;
  -webkit-animation: fadeIn 0.3s forwards;
  animation: fadeIn 0.3s forwards;
}
@mixin close-popup {
  color: $white;
  font-size: 20px;
  position: fixed;
  top: 12px;
  right: 12px;
  background: none;
  border: 0;
  margin: 0;
  padding: 0;

  &:hover,
  &:focus {
    opacity: .7;
  }
}