// Images

//Background
$bg: '../assets/images/bg/';

//Content
$content: '../assets/images/content/';

// User interface
$ui: '../assets/images/ui/';

// Colors
$white: #FFFFFF;
$dark: #121315;
$darkBlue: #222531;
$lightBlue: #383F4E;
$lightHalfBlue: #9b9fa6;
$grey: #979797;
$midgrey: #c8cdd2;
$lightGrey: #E8EBEE;
$blue: #0069d2;
$brightBlue: #00D7FF;
$darkGrey: #2A303D;
$pink: #E5007D;
$spacing: 10px;

// Buttons
$btnBgColorPositive: #e5007d; //dark hot pink
$btnTxtColorPositive: #fff;
$btnBgColorNegative: #383f4e; //charcoal grey
$btnTxtColorNegative: #fff;
$btnTxtColorDisabled: #eee;
$btnOpacityDisabled: 0.5;
$btnBorderRadius: 24px;

// Hover states
$lightBlueHover: darken($lightBlue, 10%);
$greyHover: darken($grey, 10%);
$pinkHover: darken($pink, 5%);

$btnBgColorPositiveHover: darken($btnBgColorPositive, 5%);
$btnBgColorNegativeHover: darken($btnBgColorNegative, 5%);

$transparentHover: rgba(0,0,0,.2);
