// Images

//Background
$bg: '../assets/images/bg/';

//Content
$content: '../assets/images/content/';

// User interface
$ui: '../assets/images/ui/';

// Colors
$white: #FFFFFF;
$darkBlue: #222531;
$lightBlue: #383F4E;
$brightBlue: #0069D2;
$lightGrey:#E8EBEE;
$darkGrey: #2A303D;
$pink: #E5007D;

$spacing: 10px;