.section-jobs__content-right a span {
  display: inline;
}

.setting-page form {
  .group > div > div, > div > div {
    padding: 5px 0;
  }
  > div:first-child > div:first-child {
    padding-bottom: 30px;
  }
  .group {
    margin-bottom: 30px;
  }
}