.section-jobs__content-right a span {
  display: inline;
}

.modal-performed-job,
.modal-assign-job {
  > div > div {
    .button.pink, .button.dark {
      max-width: 135px;
    }
  }
}

.user-modal-perform-show {
  .button.pink, .button.dark {
    max-width: 135px;
  }
}

.user-header > div > div:first-child {
  width: 85px;
}

.user-job-candidate-topmenu > div:first-child {
  padding-left: 110px;
}

.setting-page form {
  .group > div > div, > div > div {
    padding: 5px 0;
  }
  > div:first-child > div:first-child {
    padding-bottom: 30px;
  }
  .group {
    margin-bottom: 30px;
  }
  input[type="email"], input[type="password"], input[type="text"], input[type="number"], textarea, select {
    padding: 10px;
  }
  .name-group {
    input:first-child {
      padding-bottom: 2px;
    }
    input:last-child {
      padding-top: 2px;
    }
  }
}

.top-bar {
  > div {
    padding-left: 17px;
  }
  > div:last-child {
    padding-right: 22px;
  }
  > .back-button {
    padding-left: 10px;

    .icon-ic-arrow-left {
      margin-right: -10px;
    }
  }
  > .top-logo {
    padding-left: 17px;
  }
}

