.top-bar { white-space: nowrap;}

.main-title {
  padding: 30px;
}

.job-list-title {
  display: table;
  width: 100%;
  margin-bottom: 0;

  h1 {
    text-align: left;
  }

  > div {
    display: table-cell;
    vertical-align: middle;
  }
  vertical-align: middle;
  > div:last-child {
    text-align: right;
  }
}
.user-header > div > div:first-child {
  width: 100px;
}
.user-job-candidate-topmenu > div:first-child {
  padding-left: 125px;
}
.modal-performed-job,
.modal-assign-job {
  > div > div {
    .button.pink, .button.dark {
      max-width: 160px;
    }
  }
}
.user-job-candidate-topmenu > div:first-child a {
  padding: 5px 35px;
}