.top-bar { white-space: nowrap;}


.user-header > div > div:first-child {
  width: 100px;
}
.user-job-candidate-topmenu > div:first-child {
  padding-left: 125px;
}
.modal-performed-job,
.modal-assign-job {
  > div > div {
    .button.pink, .button.dark {
      max-width: 160px;
    }
  }
}
.user-modal-perform-show {
  .button.pink, .button.dark {
    max-width: 160px;
  }
}
.message-botton a {
  padding: 5px 35px;
}
.section-instructions .slick-slide > div {
  padding: 30px 30px 95px;
}
.job-list-wrapper > li .job-desc {
  padding-left: 10px;
}