.hero__slider {
  height: 400px;
}

#map_canvas {
  height: 200px;
}

.user-title > div {
  width: auto;

  > div:first-child {
    padding-right: 50px;
  }

}


.main-title {
  .job-owner-header {
    h2 {
      margin: 0;
    }
  }
}
.wrapper footer > div {
  > div {
    display: table;
    width: 100%;
    > p {
      display: table-cell;
    }
    > p:nth-child(2) {
      text-align: center;
    }
    > p:last-child {
      text-align: right;
    }
  }
}
.user-job-status {
  > div {
    display: table;
    width: 70%;
    margin: 0 auto;
    > div {
      display: table-cell;
      vertical-align: middle;
      padding: 0 10px;
    }
  }
}
.job-list-title {
  display: table;
  width: 100%;
  margin-bottom: 0;

  h1 {
    text-align: left;
    margin: -5px 0 0;
  }

  > div {
    display: table-cell;
    vertical-align: middle;
  }
  vertical-align: middle;
  > div:last-child {
    text-align: right;
  }
}