.hero__slider {
	height:400px;
}
#map_canvas {
	height: 200px;
}


.wrapper footer > div > div {
	display: table;
	width: 100%;

	p {
		display: table-cell;
		span {
			white-space: nowrap;
		}
	}
	p:nth-child(2) {
		text-align: center;
	}
	p:last-child {
		text-align: right;
	}
}
