#map_canvas {
  height: 250px;
}

.job-list-wrapper > li .job-rate {
  font-size: 1.2em;
  padding: 0 20px;
  width: 35%;
  text-align: center;

  span {
    position: static;
  }
  em {
    display: block;
  }
}
.job-list-wrapper {
  > li .job-desc > div {
    height: auto;
  }
  > li .job-desc > div > div:last-child > div {
    padding-right: 0;
  }
}

.section-partners .group > div {
  width: 25%;
}
.setting-page > div > div > div {
  width: 80%;
  margin: 0 auto;
}
.job-desc-inner {
  display: table;
  table-layout: fixed;
  width: 100%;
  
  > div {
    display: table-cell;
    vertical-align: middle;
  }
}
