.job-list-title,
.nav-job-list-bottom,
.job-list-wrapper {
  max-width: 70%;
}

#map_canvas {
  height: 100%;
  position: absolute;
  right: 0;
  width: 30%;
  overflow: hidden;
}
#map_canvas:after {
  position: absolute;
  width: 2px;
  height: 100%;
  z-index: 2;
  top: 0;
  content: ' ';
  -webkit-box-shadow: 3px 0px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.4);
  background: $white;
  left: -1px;
}
button.map-zoom-in {
  top: 15px;
  right: 25px;
}
.main-title {
  padding: 35px;
}
.job-list-wrapper {
  margin-top: 0;
  > li {
    > div {
      border-bottom: 1px solid $lightGrey;
    }
  }

}

.section-partners .group > div {
  width: 20%;
}

.job-body-description,
.job-comment-list {
  width: 70%;
  margin: 0 auto;
}
.job-body-description {
  > div { font-size: 0;

    ul {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
    }
    ul:first-child {
      li {
        border: 0;
      }
    }
    ul:last-child {
      padding-left: 35px;
    }
  }

}
.job-more-wrapper {
  #map_canvas {
    display: block;
  }

  .job-more-table {
    position: relative;
    width: 100%;
    height: 100%;
    display: table;

    .job-list-title,
    .nav-job-list-bottom,
    .job-list-wrapper {
      max-width: none;
    }

    > div {
      display: table-cell;
      height: 100%;
      vertical-align: top;
    }
    > div:first-child {
      width: 70%;
    }
  }


}
.faq {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}