.job-list-title,
.nav-job-list-bottom,
.job-list-wrapper {
  max-width: 70%;
}

#map_canvas {
  height: 100%;
  position: absolute;
  right: 0;
  width: 30%;
  overflow: hidden;
}

#map_canvas:after {
  position: absolute;
  width: 2px;
  height: 100%;
  z-index: 2;
  top: 0;
  content: ' ';
  -webkit-box-shadow: 3px 0px 4px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 0px 3px 0px rgba(0, 0, 0, 0.4);
  background: $white;
  left: -1px;
}

button.map-zoom-in {
  top: 15px;
  right: 25px;
  margin: 0;
}

.job-list-wrapper {
  margin-top: 0;
  > li {
    > div {
      border-bottom: 1px solid $lightGrey;
    }
  }

}

.section-partners .group > div {
  width: 20%;
}

.job-body-description,
.job-comment-list,
.job-body-heading,
.faq,
.user-job-comments .main-content > div,
.candidate-chat > div ul,
.candidate-chat form > div,
.candidate-chat .translate,
.setting-page > div > div > div,
.arriver-chat ul {
  width: 70% !important;
  margin: 0 auto !important;
}

.faq-wrapper {
  height: 100%;
  background: $lightGrey;
}

.job-body-heading {
  display: table;
  table-layout: fixed;
  > div,
  > div:last-child {
    display: table-cell;
    vertical-align: middle;
  }
}

.job-body-description {
  > div {
    font-size: 0;

    ul {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      font-size: 14px;
    }
    ul:first-child {
      li {
        border: 0;
      }
    }
    ul:last-child {
      padding-left: 35px;
    }
  }

}

.job-more-wrapper {
  #map_canvas {
    display: block;
  }

  .job-more-table {
    position: relative;
    width: 100%;
    height: 100%;
    display: table;

    .job-list-title,
    .nav-job-list-bottom,
    .job-list-wrapper {
      max-width: none;
    }

    > div {
      display: table-cell;
      height: 100%;
      vertical-align: top;
    }
    > div:first-child {
      width: 70%;
    }
  }

}

.sticy-button {
  display: none
}

.menu-page, .lang-page {
  background: rgba(255, 255, 255, 0.3);

  > div, .lang-wrapper {
    width: 375px;
    background: rgba(34, 37, 49, 0.95);
    float: right;
  }
}
.job-owner-header {
  > div {
    display: table;
    table-layout: fixed;
    width: 70%;
    margin: 0 auto;
    padding-bottom: 0;
    > div {
      display: table-cell;
      vertical-align: middle;

    }
  }
}
.close-bar {
  display: block;
}