<section>
    <div class="job-approve">
        <div class="main-title">
            <h1>{{ 'assignment.preview.title' | translate }}</h1>
            <div></div>
        </div>
        <div class="main-content">
            <job-body model="ctrl.model"></job-body>
            <div class="buttons">
                <button ng-click="ctrl.edit()" type="button">{{ 'assignment.preview.button.edit' | translate}}</button>
                <button ng-click="ctrl.approve()" type="button">{{ 'assignment.preview.button.approve' | translate}}</button>
            </div>
        </div>
    </div>
</section>