<section>
    <div class="grey-header">
        <h1>{{ 'assignment.preview.title' | translate }}</h1>
        <!--<p>Description</p>-->
    </div>
    <div class="job-approve">
        <div class="main-content">
            <job-body model="ctrl.model"></job-body>
            <div class="buttons">
                <button ng-click="ctrl.edit()" type="button" class="button secondary">{{ 'common.edit' | translate}}</button>
                <button ng-click="ctrl.approve()" type="button" class="button primary">{{ 'common.approve' | translate}}</button>
            </div>
        </div>
    </div>
</section>