<section>
    <div class="main-title user-job-header">
        <h1>{{ "company.assignments.title" | translate }}</h1>
        <ul>
            <li ng-class="{sel:ctrl.arriver_jobs_tab===1}"><a href="" ng-click="ctrl.arriver_jobs_tab=1">{{"company.assignments.filter_1" | translate}}</a></li>
            <li ng-class="{sel:ctrl.arriver_jobs_tab===2}"><a href="" ng-click="ctrl.arriver_jobs_tab=2">{{"company.assignments.filter_2" | translate}}</a></li>
        </ul>
    </div>
    <div class="user-job-content">
        <div ng-show="ctrl.arriver_jobs_tab!==2">
            <ul>
                <li ng-repeat="job in jobs" ng-click="ctrl.gotoUserJobPage(job)">
                    <div>
                        {{job.attributes["job-date"] | date: "MMM"}}<br/>
                        <span>{{job.attributes["job-date"] | date: "dd"}}</span>
                    </div>
                    <div>
                        <h3>{{job.attributes["name"]}}</h3>
                        <p>{{job.attributes["street"]}}</p>
                        <p>{{job.attributes.text_status | translate}}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div ng-show="ctrl.arriver_jobs_tab===2">
            <div class="candidate-referencer">
                <ul>
                    <li ng-repeat="job in userPerformedJobs">
                        <div><span class="user-info-image"
                                   style="background-image: url({{job.company_image}})"></span></div>
                        <div>
                            <h4>{{job.attributes.name}}</h4>
                            <p>{{job.company.attributes.name}}</p>

                            <p class="rating">
                                <span ng-class="{select:job.rating.attributes.score>=1}"></span>
                                <span ng-class="{select:job.rating.attributes.score>=2}"></span>
                                <span ng-class="{select:job.rating.attributes.score>=3}"></span>
                                <span ng-class="{select:job.rating.attributes.score>=4}"></span>
                                <span ng-class="{select:job.rating.attributes.score>=5}"></span>
                            </p>
                        </div>
                        <div>
                            {{job.attributes["job-date"] | date: "MMM"}}<br/>
                            <span>{{job.attributes["job-date"] | date: "dd"}}</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--<div class="data-generate">
        <p>{{jobs_accepted | json}}</p>
        <p>{{jobs | json}}</p>
        <p>{{jobs_invoice | json}}</p>
    </div>-->
</section>

