<section class="user-job-wrapper">
    <user-job-header></user-job-header>
    <div class="main-title pink" ng-show="ctrl.showStatus">
        <div class="job-owner-header">
            <div ng-show="!ctrl.accepted && !ctrl.will_perform">
                <!-- Wait owner choose candidate -->
                <div>
                    <h2>{{ "assignment.status.applied" | translate }}</h2>
                </div>
            </div>
            <div ng-show="ctrl.accepted && !ctrl.will_perform">
                <!-- Owner choose you -->
                <div>
                    <h2>{{'assignment.status.offer' | translate}} {{ctrl.remainHours}}{{'common.hour' | translate}} {{ctrl.remainMinutes}}min</h2>
                </div>
                <div>
                    <a class="button" href="" ng-click="userModalPerformShow=1">{{ "assignment.status.reply" | translate }}</a>
                </div>
            </div>
            <div ng-show="ctrl.will_perform && !ctrl.performed">
                <!-- Job finish report your boss -->
                <div ng-show="!ctrl.canPerformed">
                    <h2>{{'assignment.status.hired' | translate}}</h2>
                </div>
                <div ng-show="ctrl.canPerformed">
                    <h2>{{'assignment.is_approved' | translate}}</h2>
                </div>
                <div>
                    <a class="button" href="" ng-click="userModalPerformShow = 3-userModalPerformShow">{{'profile.overview.send_message' | translate}}</a>
                </div>
                <div ng-show="ctrl.canPerformed">
                    <a class="button" href="" ng-click="userModalPerformShow=2">{{'common.yes' | translate}}</a>
                </div>
            </div>
        </div>

    </div>
    <div class="main-content" ng-hide="userModalPerformShow">
        <ul>
            <li class="select"><a href="#{{routes.arriver.job_comments.resolve(job_obj)}}"><span>{{'user.assignments.comments' | translate}}</span><br />
                {{comments_amt}} {{'user.assignments.comment_count' | translate}}</a></li>
            <li class="select" ng-repeat="chat in ctrl.userChats.data">
                <a href="" ng-click="ctrl.gotoChat(chat.id);"><span>{{'user.assignments.chat' | translate}}</span><br>{{'user.assignments.conversation' | translate}} {{job.company.attributes.name}}</a>
            </li>
        </ul>
    </div>

    <div class="main-content user-modal-perform-show" ng-show="userModalPerformShow">
        <!-- USER modal form will-perform -->
        <div ng-show="userModalPerformShow==1">
            <section ng-show="!isWillPerform">

                <h4>
                    {{'common.congratulation' | translate}}<br/>
                    {{company_name}} {{'assignment.status.company.approve_user' | translate}}
                </h4>
                <p>{{'assignment.status.offer.approve' | translate}}</p>
                <div>
                    <a class="button pink" href="" ng-click="isWillPerform=true">{{'common.yes' | translate}}</a>
                    <a class="button dark" href="" ng-click="userModalPerformShow=false">{{'common.no' | translate}}</a>


                </div>
                <h3>{{'assignment.status.reply' | translate}}<br>
                    {{'common.in' | translate}}<br>
                    {{ctrl.remainHours}} {{'common.hour' | translate}} {{ctrl.remainMinutes}} min</h3>
            </section>
            <section ng-show="isWillPerform">
                <h3>{{'user.account' | translate}}</h3>
                <p>{{'user.account.description' | translate}}</p>
                <div class="material-input">

                    <form name="form" novalidate ng-submit="ctrl.createBankAccount()">
                        <validation form="form" field="account_clearing_number"
                                    errormsg="finance.form.account_clearing_number.validation">
                            <div class="group">
                                <input type="text" name="account_clearing_number"
                                       ng-required="ctrl.financeModel.data.attributes['account-number'] || (!ctrl.financeModel.data.attributes.iban && !ctrl.financeModel.data.attributes.bic)"
                                       ng-model="ctrl.financeModel.data.attributes['account-clearing-number']"/>
                                <label>{{'user.account.bank' | translate}}</label>
                            </div>
                        </validation>

                        <validation form="form" field="account_number"
                                    errormsg="finance.form.account_number.validation">
                            <div class="group">
                                <input type="text" name="account_number"
                                       ng-required="ctrl.financeModel.data.attributes['account-clearing-number']"
                                       ng-model="ctrl.financeModel.data.attributes['account-number']"/>
                                <label>{{'user.account.cardnr' | translate}}</label>
                            </div>
                        </validation>

                        <validation form="form" field="iban" errormsg="finance.form.iban.validation">
                            <div class="group">
                                <input type="text" name="iban"
                                       ng-required="ctrl.financeModel.data.attributes.bic || (!ctrl.financeModel.data.attributes['account-clearing-number'] && !ctrl.financeModel.data.attributes['account-number'])"
                                       ng-model="ctrl.financeModel.data.attributes.iban"/>
                                <label>{{'user.account.iban' | translate}}</label>
                            </div>
                        </validation>

                        <validation form="form" field="bic" errormsg="finance.form.bic.validation">
                            <div class="group">
                                <input type="text" name="bic"
                                       ng-required="ctrl.financeModel.data.attributes.iban"
                                       ng-model="ctrl.financeModel.data.attributes.bic"/>
                                <label>{{'user.account.bic' | translate}}</label>
                            </div>
                        </validation>

                        <input type="submit" ng-disabled="form.$invalid" value="{{'common.save' | translate}}"/>

                    </form>
                </div>
            </section>
        </div>

        <!-- USER modal form performed -->
        <div ng-show="userModalPerformShow==2">
            <section>
                <h4>
                    {{'common.good_work' | translate}}<br/>
                    {{company_name}} {{'user.assignment.company_approved' | translate}}
                </h4>
                <p>{{'assignment.status.approve_for_payment' | translate}}</p>
                <div>
                    <a class="button dark" href="" ng-click="userModalPerformShow=false">{{'common.no' | translate}}</a>
                    <a class="button pink" href="" ng-click="ctrl.userPerformed()">{{'common.yes' | translate}}</a>
                </div>
            </section>
        </div>

        <div class="candidate-chat arriver-chat" ng-show="userModalPerformShow==3">
            <h3>{{'common.messages' | translate}}</h3>
            <div>
                <ul>
                    <li ng-repeat="chatMessage in ctrl.chatMessages.data" ng-class="{'right':chatMessage.relationships.author.data.id === ctrl.user_id}">
                        <div class="bubble">
                            <div><span class="messenger">{{chatMessage.author.attributes["first-name"]}} {{chatMessage.author.attributes["last-name"]}}</span><span class="datetime">{{chatMessage.attributes["created-at"] | date:'yyyy-MM-dd HH:mm'}}</span></div>
                            <div ng-if="chatMessage.translation.from == chatMessage.translation.to">
                                {{chatMessage.attributes.body}}
                            </div>
                            <div ng-class="chatMessage.translation.to_direction === 'rtl' ? 'rtl' : 'ltr'" ng-if="chatMessage.translation.from != chatMessage.translation.to">
                                {{chatMessage.translation.text}}
                                <p ng-class="chatMessage.translation.from_direction === 'rtl' ? 'translate-from rtl' : 'translate-from ltr'"><strong>{{'common.translated.from' | translate}} {{chatMessage.translation.from_name}}</strong><br>
                                    {{chatMessage.attributes.body}}
                                </p>
                            </div>
                        </div>
                        <div class="profile-image" style="background-image: url({{chatMessage.author.user_image}})">
                        </div>
                    </li>
                </ul>
                <form name="formChat" ng-submit="ctrl.submitChat()">
                    <div>
                        <div><input type="text" required ng-model="ctrl.chatMessageModel.data.attributes.body"/></div>
                        <div><input type="submit" value="{{'common.submit' | translate}}"></div>
                    </div>
                </form>
            </div>
        </div>

    </div>

</section>