<section class="user-job-wrapper">
    <user-job-header></user-job-header>
    <div class="main-title pink" ng-show="ctrl.showStatus">
        <div class="job-owner-header">
            <div ng-show="!ctrl.accepted && !ctrl.will_perform">
                <!-- Wait owner choose candidate -->
                <div>
                    <h2>Du har sökt uppdraget</h2>
                </div>
            </div>
            <div ng-show="ctrl.accepted && !ctrl.will_perform">
                <!-- Owner choose you -->
                <div>
                    <h2>Vi vill anlita dig svara inom {{ctrl.remainHours}}h {{ctrl.remainMinutes}}min</h2>
                </div>
                <div>
                    <a class="button" href="" ng-click="userModalPerformShow=1">Ge besked</a>
                </div>
            </div>
            <div ng-show="ctrl.will_perform && !ctrl.performed">
                <!-- Job finish report your boss -->
                <div ng-show="!that.canPerformed">
                    <h2>Du är anlitad</h2>
                </div>
                <div ng-show="that.canPerformed">
                    <h2>Är uppdraget utfort?</h2>
                </div>
                <div>
                    <a class="button" href="" ng-click="userModalPerformShow=3">Skicka meddellanden</a>
                </div>
                <div ng-show="that.canPerformed">
                    <a class="button" href="" ng-click="userModalPerformShow=2">Ja</a>
                </div>
            </div>
        </div>

    </div>
    <div class="main-content" ng-hide="userModalPerformShow">
        <ul>
            <li class="select"><a href="#{{routes.arriver.job_comments.resolve(job_obj)}}"><span>Kommentarer</span><br>Två
                kommentarer</a></li>
            <li class="select"><a href=""><span>Chatt</span><br>Meddelanden från Amir Kherimand</a></li>
        </ul>

    </div>

    <div class="main-content user-modal-perform-show" ng-show="userModalPerformShow">
        <!-- USER modal form will-perform -->
        <div ng-show="userModalPerformShow==1">
            <section ng-show="!isWillPerform">

                <h4>
                    Grattis!<br/>
                    {{company_name}} vill garna att du utfor uppdraget
                </h4>
                <p>Vill du fortfalande ta uppdraget</p>
                <div>
                    <a class="button dark" href="" ng-click="userModalPerformShow=false">Nej</a>
                    <a class="button pink" href="" ng-click="isWillPerform=true">Ja</a>

                </div>
                <h3>Var god ge ett besked<br>
                    inom:<br>
                    {{ctrl.remainHours}} h {{ctrl.remainMinutes}} min</h3>
            </section>
            <section ng-show="isWillPerform">
                <h3>Kontuppgifter</h3>
                <p>Var vill du atr vi satter in ersattingen nar du utfort uppdraget?</p>
                <div class="material-input">

                    <form name="form" ng-submit="ctrl.userWillPerform()">
                        <div class="group">
                            <input type="text" ng-model="model.data.attributes.bank"/>
                            <label>Bank</label>
                        </div>
                        <div class="group">
                            <input type="text" ng-model="model.data.attributes.kortnummer"/>
                            <label>Kortnummer</label>
                        </div>
                        <div class="group">
                            <input type="text" ng-model="model.data.attributes.iban"/>
                            <label>IBAN - nummer</label>
                        </div>
                        <div class="group">
                            <input type="text" ng-model="model.data.attributes.bic"/>
                            <label>BIC - nummer</label>
                        </div>
                        <input type="submit" value="Spara"/>
                        <!--<a class="button submit pink" href="" ng-click="modalPerformShow=false; isPerformed=false;">Skicka</a>-->
                    </form>
                </div>
            </section>
        </div>

        <!-- USER modal form performed -->
        <div ng-show="userModalPerformShow==2">
            <section>
                <h4>
                    Bra jobbat!<br/>
                    {{company_name}} har godkant utforandet av uppdraget.
                </h4>
                <p>Godkann for att fa ersattningen</p>
                <div>
                    <a class="button dark" href="" ng-click="userModalPerformShow=false">Nej</a>
                    <a class="button pink" href="" ng-click="ctrl.userPerformed()">Ja</a>

                </div>
            </section>
        </div>

        <div class="candidate-chat arriver-chat" ng-show="userModalPerformShow==3">
            <h3>Meddelanden</h3>
            <div>
                <ul>
                    <li>
                        <div class="bubble">
                            <div>Amir Khermand</div>
                            <div>Hej, jag kan komma imorgon vid 10.00. Fungerar det?</div>
                        </div>
                        <div class="profile-image" style="background-image: url(assets/images/content/hero.png)">
                        </div>
                    </li>
                    <li class="right">
                        <div class="bubble">
                            <div>Ove Martinnson</div>
                            <div>Ja, det blir perfekt. Valkommen</div>
                        </div>
                        <div class="profile-image" style="background-image: url(assets/images/content/antrop-logo.png)">
                        </div>
                    </li>
                </ul>
                <form name="form" ng-submit="ctr.submitChat()">
                    <div>
                        <div><input type="text" required/></div>
                        <div><input type="submit" value="skicka"></div>
                    </div>
                </form>
                <div class="translate"><span>Översätt från svenska</span></div>
            </div>
        </div>

    </div>

</section>