<section>
    <user-header></user-header>
    <div class="user-job-candidate-topmenu">
        <ul>
            <li><a href="" ng-class="{sel:currTab === 1}" ng-click="currTab = 1">{{'profile' | translate}}</a></li>
            <li><a href="" ng-class="{sel:currTab === 2}" ng-click="currTab = 2">{{'common.references' | translate}}</a>
            </li>
            <li><a href="" ng-class="{sel:currTab === 3}" ng-click="currTab = 3">{{'common.messages' | translate}}</a>
            </li>
        </ul>

    </div>
    <div class="user-job-status" ng-hide="ctrl.hasInvoice">
        <div>
            <!-- Choose candidate -->
            <div class="user-job-status-title" ng-show="!ctrl.accepted && !ctrl.will_perform">
                {{ctrl.candidate_model["first-name"]}} {{'assignment.status.user_application' | translate}}
            </div>
            <div ng-show="!ctrl.accepted && !ctrl.will_perform">
                <a href="" ng-click="modalShow = true">{{'assignment.status.user_application.approve' | translate}}</a>
            </div>

            <!-- Wait user accepted -->
            <div class="user-job-status-title" ng-show="ctrl.accepted && !ctrl.will_perform">
                {{ctrl.candidate_model["first-name"]}} har {{ctrl.remainHours}}{{'common.hour' | translate}}
                {{ctrl.remainMinutes}}{{'common.min' | translate}}<br/>
                {{'assignment.status.user_application.time_remaining' | translate}}
            </div>

            <!-- Job ongoing -->
            <div class="user-job-status-title" ng-show="ctrl.will_perform && !ctrl.canPerformed">
                {{ctrl.candidate_model["first-name"]}} {{'assignment.status.applicant_approved' | translate}}
            </div>

            <!-- Job performed confirmation -->
            <div class="user-job-status-title" ng-show="(ctrl.will_perform || ctrl.performed) && ctrl.canPerformed">
                {{ 'assignment.status.is_successful' | translate}}
            </div>
            <div class="buttons" ng-show="(ctrl.will_perform || ctrl.performed) && ctrl.canPerformed">
                <a class="button" href="" style="min-width:80px;" ng-click="ctrl.ownerCancelPerformed()">{{'common.no' |
                    translate}}</a>
                <a class="button" href="" style="min-width:80px;" ng-click="modalPerformShow=true; isPerformed=false;">{{'common.yes'
                    | translate}}</a>
            </div>
        </div>
    </div>
    <div class="candidate-profile" ng-show="currTab === 1">
        <div>
            <a href="" ng-click="ctrl.toggleDT('candidate_item')"><i
                    ng-class="dt.candidate_item ? 'demo-icon icon-switch-language on' : 'demo-icon icon-switch-language off'"></i></a>
        </div>
        <div>
            <h3><i class="demo-icon icon-ic-paper"></i>{{"profile.form.presentation" | translate}}</h3>
            <div ng-if="ctrl.candidate_model.translation.description.from == ctrl.candidate_model.translation.description.to">
                <p>{{ctrl.candidate_model.description}}</p>
            </div>
            <div ng-if="ctrl.candidate_model.translation.description.from != ctrl.candidate_model.translation.description.to">
                <p ng-show="!dt.candidate_item">{{ctrl.candidate_model.description}}</p>
                <p ng-show="dt.candidate_item" class="translated">
                    {{ctrl.candidate_model.translation.description.text}}</p>
            </div>
        </div>
        <div>
            <h3><i class="demo-icon icon-ic-star"></i>{{"profile.form.experience" | translate}}</h3>
            <div ng-if="ctrl.candidate_model.translation.job_experience.from == ctrl.candidate_model.translation.job_experience.to">
                <p>{{ctrl.candidate_model['job-experience']}}</p>
            </div>
            <div ng-if="ctrl.candidate_model.translation.job_experience.from != ctrl.candidate_model.translation.job_experience.to">
                <p ng-show="!dt.candidate_item">{{ctrl.candidate_model['job-experience']}}</p>
                <p ng-show="dt.candidate_item" class="translated">
                    {{ctrl.candidate_model.translation.job_experience.text}}</p>
            </div>
        </div>
        <div>
            <h3><i class="demo-icon icon-ic-education"></i>{{"profile.form.education" | translate}}</h3>
            <div ng-if="ctrl.candidate_model.translation.education.from == ctrl.candidate_model.translation.education.to">
                <p>{{ctrl.candidate_model['education']}}</p>
            </div>
            <div ng-if="ctrl.candidate_model.translation.education.from != ctrl.candidate_model.translation.education.to">
                <p ng-show="!dt.candidate_item">{{ctrl.candidate_model['education']}}</p>
                <p ng-show="dt.candidate_item" class="translated">
                    {{ctrl.candidate_model.translation.education.text}}</p>
            </div>
        </div>
        <div>
            <h3><i class="demo-icon icon-ic-tool"></i>{{"profile.form.skills" | translate}}</h3>
            <div ng-if="ctrl.candidate_model.translation.competence_text.from == ctrl.candidate_model.translation.competence_text.to">
                <p>{{ctrl.candidate_model['job-experience']}}</p>
            </div>
            <div ng-if="ctrl.candidate_model.translation.competence_text.from != ctrl.candidate_model.translation.competence_text.to">
                <p ng-show="!dt.candidate_item">{{ctrl.candidate_model['competence-text']}}</p>
                <p ng-show="dt.candidate_item" class="translated">
                    {{ctrl.candidate_model.translation.competence_text.text}}</p>
            </div>
        </div>
        <div>
            <h3><i class="demo-icon icon-ic-user3"></i>{{"profile.form.languages" | translate}}</h3>
            <ul>
                <li ng-repeat="lang in ctrl.candidate_model.languages">{{lang.attributes["en-name"]}}</li>
            </ul>
        </div>
    </div>

    <div class="candidate-referencer" ng-show="currTab === 2">
        <ul>
            <li ng-repeat="job in userPerformedJobs">
                <div><span class="user-info-image" back-img="{{job.company_image}}"></span></div>
                <div>
                    <h4>{{job.attributes.name}}</h4>
                    <p>{{job.company.attributes.name}}</p>

                    <p class="rating">
                        <span ng-class="{select:job.rating.attributes.score>=1}"></span>
                        <span ng-class="{select:job.rating.attributes.score>=2}"></span>
                        <span ng-class="{select:job.rating.attributes.score>=3}"></span>
                        <span ng-class="{select:job.rating.attributes.score>=4}"></span>
                        <span ng-class="{select:job.rating.attributes.score>=5}"></span>
                    </p>
                </div>
                <div>
                    {{job.attributes["job-date"] | date: "MMM"}}<br/>
                    <span>{{job.attributes["job-date"] | date: "dd"}}</span>
                </div>
            </li>

        </ul>
    </div>

    <div ng-show="currTab === 3">
        <company-job-chat></company-job-chat>
    </div>

    <div class="modal-assign-job" ng-show="modalShow">
        <div>
            <div>
                <a href="" ng-click="modalShow = false"><i class="demo-icon icon-ic-close"></i></a>
                <h3 translate="company.assignments.candidates.send_request"></h3>
                <h3>{{ctrl.candidate_model["first-name"]}} {{ctrl.candidate_model["last-name"]}}</h3>
                <p translate="user.assignment.confirmation.description"
                   translate-values="{ candidate_name: ctrl.candidate_model['first-name'] }"></p>
                <p>
                    <a class="button dark" href="" ng-click="modalShow = false" translate="common.cancel"></a>
                    <a class="button pink" href="" ng-click="ctrl.acceptJob()" translate="common.submit"></a>
                </p>
            </div>
        </div>
    </div>

    <!-- OWNER modal form performed to create invoice -->
    <company-job-perform></company-job-perform>

</section>