<section>
    <div class="main-title user-job-header">
        <h1>{{ "company.assignments.title" | translate }}</h1>
        <ul>
            <li ng-class="{sel:ctrl.company_jobs_tab===1}"><a href="" ng-click="ctrl.company_jobs_tab=1">{{"company.assignments.filter_1" | translate}}</a></li>
            <li ng-class="{sel:ctrl.company_jobs_tab===2}"><a href="" ng-click="ctrl.company_jobs_tab=2">{{"company.assignments.filter_2" | translate}}</a></li>
        </ul>
    </div>
    <div class="user-job-content" ng-show="ctrl.company_jobs_tab!==2">
        <div ng-hide="jobs_accepted.length === 0">
            <h2>{{'assignment.status.ongoing' | translate}}</h2>
            <ul>
                <li ng-repeat="job in jobs_accepted" ng-click="ctrl.gotoUserJobPage(job)">
                    <div>
                        {{job.attributes["job-date"] | date: "MMM"}}<br/>
                        <span>{{job.attributes["job-date"] | date: "dd"}}</span>
                    </div>
                    <div>
                        <h3>{{job.attributes["name"]}}</h3>
                        <p>{{job.attributes["first-name"]}} {{'assignment.status.user_application.will_perform' | translate}}</p>
                    </div>
                </li>
            </ul>
        </div>
        <div ng-hide="jobs.length === 0">
            <h2>{{'company.assignments.latest_activity.' | translate}}</h2>
            <ul>
                <li ng-repeat="job in jobs" ng-click="ctrl.gotoUserJobPage(job)">
                    <div>
                        {{job.attributes["job-date"] | date: "MMM"}}<br/>
                        <span>{{job.attributes["job-date"] | date: "dd"}}</span>
                    </div>
                    <div>
                        <h3>{{job.attributes["name"]}}</h3>
                        <p><em>{{job.relationships.comments.data.length}} kommentarer & {{job.relationships["job-users"].data.length}} ansökningar</em></p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="wait-rating" ng-hide="jobs_performed.length === 0">
            <h2>{{'assignment.status.missing_review' | translate}}</h2>
            <ul>
                <li ng-repeat="job in jobs_performed" ng-click="ctrl.gotoUserJobPage(job)">
                    <div>
                        {{job.attributes["job-date"] | date: "MMM"}}<br/>
                        <span>{{job.attributes["job-date"] | date: "dd"}}</span>
                    </div>
                    <div>
                        <h3>{{job.attributes.name}}</h3>
                        <p><em>{{'assignment.status.you_hired' | translate}} {{job.attributes["first-name"]}} {{job.attributes["last-name"]}}</em></p>

                        <p>{{'assignment.status.rate' | translate}}:<br><span class="stars">&#9734;&#9734;&#9734;&#9734;&#9734;</span></p>
                    </div>
                    <div>
                        <div class="user-info-image" back-img="{{job.attributes['image-url-small']}}"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="user-job-content" ng-show="ctrl.company_jobs_tab===2">
        <div class="wait-rating">
            <ul>
                <li ng-repeat="job in jobs_invoice" ng-click="ctrl.gotoUserJobPage(job)">
                    <div>
                        {{job.attributes["job-date"] | date: "MMM"}}<br/>
                        <span>{{job.attributes["job-date"] | date: "dd"}}</span>
                    </div>
                    <div>
                        <h3>{{job.attributes.name}}</h3>
                        <p><em>{{'assignment.status.you_hired' | translate}} {{job.attributes["first-name"]}} {{job.attributes["last-name"]}}</em></p>
                        <p>{{'assignment.status.rate' | translate}}:<br><span class="stars">&#9734;&#9734;&#9734;&#9734;&#9734;</span></p>
                    </div>
                    <div>
                        <div class="user-info-image" back-img="{{job.attributes['image-url-small']}}"></div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>

