<section class="row">
    <div class="col-xs-10 col-xs-offset-1">
        <h2>SKAPA NYTT UPPDRAG</h2>
        <br/><br/>
        <form name="form" novalidate ng-submit="ctrl.save()">
            <div class="company-register-form material-input">
                <validation form="form" field="title" errormsg="company-register.form.job-title.validation_error">
                    <div class="group">
                        <input type="text" name="title" required ng-model="ctrl.model.data.attributes.name">
                        <label>{{'assignment.new.form.title' | translate}}</label>
                    </div>
                </validation>
                <validation form="form" field="description"
                            errormsg="company-register.form.description.validation_error">
                    <div class="group">
                        <textarea name="description" required
                                  ng-model="ctrl.model.data.attributes.description"></textarea>
                        <label>{{'assignment.new.form.description' | translate}}</label>
                    </div>
                </validation>
                <validation form="form" field="street" errormsg="company-register.form.steet.validation_error">
                    <div class="group">
                        <input type="text" name="street" required ng-model="ctrl.model.data.attributes.street">
                        <label>{{'assignment.new.form.street' | translate}}</label>
                    </div>
                </validation>
                <validation form="form" field="zip" errormsg="company-register.form.zip.validation_error">
                    <div class="group">
                        <input type="text" name="zip" required ng-model="ctrl.model.data.attributes.zip">
                        <label>{{'assignment.new.form.zip' | translate}}</label>
                    </div>
                </validation>
            </div>

            <validation form="form" field="job_date" errormsg="company-register.form.job-date.validation_error">
                <div class="form-group">
                    <label for="job_date">{{'assignment.new.form.date-start' | translate}}</label>
                    <input type="text" id="job_date" name="job_date" required
                           ng-pattern='/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/'
                           ng-model="ctrl.model.data.attributes['job-date']">
                </div>
            </validation>
            <validation form="form" field="job_end_date" errormsg="company-register.form.job-date.validation_error">
                <div class="form-group">
                    <label for="job_end_date">{{'assignment.new.form.date-end' | translate}}</label>
                    <input type="text" id="job_end_date" name="job_end_date" required
                           ng-pattern='/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/'
                           ng-model="ctrl.model.data.attributes['job-end-date']">
                </div>
            </validation>

            <validation form="form" field="hours" errormsg="company-register.form.hours.validation_error">
                <div class="group">
                    <input type="number" name="hours" required ng-model="ctrl.model.data.attributes.hours" min="1">
                    <label>{{'assignment.new.form.hours' | translate}}</label>
                </div>
            </validation>

            <div class="form-group">
                <label class="control-label">{{ 'assignment.new.form.rate' | translate }}</label>
                <div class="row">
                    <div class="col-xs-3">
                        <select ng-model="ctrl.model.data.attributes['hourly-pay-id']" required>
                            <option value="" hidden />
                            <option ng-repeat="rate in ctrl.rates.data" value="{{rate.id}}">
                                {{rate.attributes.rate}} {{rate.attributes.currency}}
                            </option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="form-group">

            </div>

            <button class="form-control" type="submit">Fortsätt</button>
        </form>

        <p>{{ ctrl.rates | json }}</p>
        <p>{{ ctrl.model | json }}</p>
        <p><i>{{ ctrl.message | json}}</i></p>
    </div>
</section>