<section class="user-job-wrapper">
    <user-job-header></user-job-header>
    <div class="main-title pink" ng-show="!ctrl.hasInvoice && ctrl.showStatus">
        <div class="job-owner-header">

            <!-- Choose candidate -->
            <div ng-show="!ctrl.accepted && !ctrl.will_perform">
                <h2>Du har {{job_user.data.length}} ansökningar</h2>
            </div>
            <div ng-show="!ctrl.accepted && !ctrl.will_perform && job_user.data.length > 0">
                <a class="button" href="#{{routes.company.job_candidates.resolve(job_obj)}}">Välj kandidat</a>
            </div>

            <!-- Wait user accepted -->
            <div ng-show="ctrl.accepted && !ctrl.will_perform" ng-click="ctrl.gotoAcceptedCandidate()">
                <h2>{{ctrl.user_apply.attributes["first-name"]}} har {{ctrl.remainHours}}h
                    {{ctrl.remainMinutes}}min<br/>
                    på sig att acceptera uppdraget.</h2>
            </div>

            <!-- Job ongoing -->
            <div ng-show="ctrl.will_perform && !ctrl.performed" ng-click="ctrl.gotoAcceptedCandidate()">
                <h2>{{ctrl.user_apply.attributes["first-name"]}} kommer utföra uppdraget</h2>
            </div>

            <!-- Job performed confirmation -->
            <div ng-show="ctrl.performed">
                <h2>Ar uppdraget utfört?</h2>
            </div>
            <div class="buttons" ng-show="ctrl.performed">
                <a class="button" href="" ng-click="ctrl.ownerCancelPerformed()">Nej</a>
                <a class="button" href="" ng-click="modalPerformShow=true; isPerformed=false;">Ja</a>
            </div>

        </div>
    </div>

    <div class="main-content" ng-hide="userModalPerformShow">
        <ul>
            <li class="select">
                <a href="#{{routes.company.job_comments.resolve(job_obj)}}">
                    <span>Kommentarer</span><br/>
                    {{comments_amt}} kommentarer
                </a>
            </li>

            <li class="select" ng-repeat="chat in ctrl.userChats.data">
                <a href="" ng-click="ctrl.gotoChat(chat['job-users'].id,chat.id);"><span>Chatt</span><br>Meddelanden från {{chat.users.attributes["first-name"]}} {{chat.users.attributes["last-name"]}}</a>
            </li>
        </ul>

    </div>

    <!-- OWNER modal form performed to create invoice -->
    <company-job-perform></company-job-perform>

</section>