<section>
    <user-job-header></user-job-header>
    <div class="user-job-cadidates">
        <h1>{{'company.assignments.candidates.select.title' | translate}}</h1>
        <!--<p>Description</p>-->
        <ul>
            <li ng-repeat="job_user in job_users">
                <div>
                    <a href="#{{routes.company.job_candidate.resolve(ctrl.job_id,job_user.id)}}"><span class="user-info-image" style="background-image: url({{job_user.user_image}})"></span></a>
                </div>
                <div>
                    <a href="#{{routes.company.job_candidate.resolve(ctrl.job_id,job_user.id)}}">{{job_user.attributes["first-name"]}}
                        {{job_user.attributes["last-name"]}}</a>
                    <br>
                    <span class="stars_i"><span style="width : calc( {{job_user.rating}} * 16px );" title="{{job_user.rating}}"></span></span>
                    <span>({{job_user.total_uppdrag}} {{'assignment' | translate}})</span>
                </div>
            </li>
        </ul>
    </div>
</section>