<section class="user-job-comments">
    <user-job-header></user-job-header>
    <div class="main-content">
        <h1>{{"assignment.comments.title" | translate}}</h1>
        <div>
            <ul>
                <li ng-repeat="comment in comments" ng-class="{'right': comment.attributes.isOwner===1}">
                    <div class="bubble">
                        <div><span class="messenger">{{comment.attributes["first-name"]}} {{comment.attributes["last-name"]}}</span><span class="datetime">{{comment.attributes["created-at"] | date:'yyyy-MM-dd HH:mm'}}</span></div>
                        <div ng-if="comment.translation.from == comment.translation.to" ng-bind-html="comment.attributes.body" ng-class="comment.translation.from_direction === 'rtl' ? 'rtl' : 'ltr'"></div>
                        <div ng-class="comment.translation.to_direction === 'rtl' ? 'rtl' : 'ltr'" ng-if="comment.translation.from != comment.translation.to">
                            {{comment.translation.text}}
                            <p ng-class="comment.translation.from_direction === 'rtl' ? 'translate-from rtl' : 'translate-from ltr'"><strong>{{'common.translated.from' | translate}} {{comment.translation.from_name}}</strong><br>
                                {{comment.attributes.body}}
                            </p>
                        </div>
                    </div>
                    <div class="profile-image" backImg="{{comment.user_image}}"></div>
                </li>
            </ul>
            <form name="form" ng-submit="ctrl.submit()">
                <div class="form-group">
                    <input type="text" name="comment_text" required placeholder="{{'assignment.comments.description' | translate}}"
                           ng-model="ctrl.model.data.attributes['body']"/>
                </div>
            </form>
        </div>
    </div>
</section>