<div class="modal-performed-job" ng-show="modalPerformShow">
    <div>
        <div>
            <section ng-show="!isPerformed">
                <h3><span class="user-info-image" style="background-image: url({{ctrl.user_apply.user_image}})"></span>
                </h3>
                <h3 translate="assignment.is_approved"></h3>
                <p translate="assignment.approve.description"></p>
                <h4>
                    <span>{{job.attributes.name}}</span>
                    <span>{{job.attributes.hours}}{{'common.hour' | translate}} {{job.hourly_pay.rate}} SEK</span>
                </h4>
                <h4>
                    {{'common.total_cost' | translate}} {{job.max_rate}} {{job.hourly_pay.currency}} {{'common.currency_inc_vat' | translate}}
                </h4>
                <div>
                    <a class="button pink" href="" ng-click="isPerformed=true">{{'common.yes' | translate}}</a>
                    <a class="button dark" href="" ng-click="modalPerformShow=false">{{'common.no' | translate}}</a>
                </div>
            </section>
            <section ng-show="isPerformed">
                <form name="form" novalidate ng-submit="ctrl.userPerformed()">
                    <h3><span class="user-info-image"
                              style="background-image: url({{ctrl.user_apply.user_image}})"></span>
                    </h3>
                    <h3>{{'common.thanks' | translate}}</h3>
                    <p>{{'assignment.recommendation.title' | translate}}</p>
                    <div>
                        <span class="rating" ng-class="ctrl.ratingClass">
                            <span ng-repeat="i in [1,2,3,4,5]" ng-click="ctrl.ratingModel.data.attributes.score=i; ctrl.ratingClass='score'+i;"></span>
                        </span>
                        <validation form="form" field="score" errormsg="">
                            <div class="group">
                                <input name="score" type="hidden" required ng-model="ctrl.ratingModel.data.attributes.score" required>
                            </div>
                        </validation>
                    </div>
                    <div>

                        <div class="material-input">

                            <validation form="form" field="comment" errormsg="">
                                <div class="group">
                                    <input name="comment" type="text" required ng-model="ctrl.ratingModel.data.attributes.body">
                                    <label>{{'assignment.recommendation.description' | translate}}</label>
                                </div>
                            </validation>

                        </div>
                        <button class="button submit pink" type="submit" ng-disabled="form.$invalid">{{'common.submit' | translate}}</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>