<div class="candidate-chat">
    <div class="chat-block">
        <ul>

            <li ng-repeat="chatMessage in cCtrl.chatMessages.data | orderBy:'':true"
                ng-class="{'right':chatMessage.relationships.author.data.id === cCtrl.user_id}">
                <div class="bubble">
                    <div><span class="messenger">{{chatMessage.author.attributes["first-name"]}} {{chatMessage.author.attributes["last-name"]}}</span><span
                            class="datetime">{{chatMessage.attributes["created-at"] | date:'yyyy-MM-dd HH:mm'}}</span>
                    </div>
                    <div ng-if="chatMessage.translation.from == chatMessage.translation.to">
                        {{chatMessage.attributes.body}}
                    </div>
                    <div ng-class="chatMessage.translation.to_direction === 'rtl' ? 'rtl' : 'ltr'"
                         ng-if="chatMessage.translation.from != chatMessage.translation.to">
                        {{chatMessage.translation.text}}
                        <p ng-class="chatMessage.translation.from_direction === 'rtl' ? 'translate-from rtl' : 'translate-from ltr'">
                            <strong>{{'common.translated.from' | translate}}
                                {{chatMessage.translation.from_name}}</strong><br>
                            {{chatMessage.attributes.body}}
                        </p>
                    </div>
                </div>
                <div class="profile-image" back-img="{{chatMessage.author.user_image}}">
                </div>
            </li>
        </ul>
        <!--<form name="form" ng-submit="cCtrl.submitChat()">
            <div>
                <div><input type="text" required ng-model="cCtrl.chatMessageModel.data.attributes.body"/></div>
                <div><input type="submit" ng-disabled="cCtrl.disableChat" ng-value="'common.submit' | translate"></div>
            </div>
        </form>-->

        <div sticky-footer class="chat-box">
            <form name="formChat" ng-submit="cCtrl.submitChat()">
                <div>
                    <div>
                        <textarea name="txt_chatbox" id="txt_chatbox" class="expandable-textarea"
                                  placeholder="{{'assignment.chat.description' | translate}}"
                                  required
                                  ng-keydown="cCtrl.checkEnter('txt_chatbox',$event);"
                                  ng-keyup="cCtrl.autoExpand('txt_chatbox');"
                                  ng-model="cCtrl.chatMessageModel.data.attributes.body" />
                    </div>
                    <div><input type="submit" ng-disabled="cCtrl.disableChat || formChat.$invalid" ng-value="'common.submit' | translate"></div>
                </div>
            </form>
        </div>

    </div>
</div>
