<div class="job-body-heading">
    <div>
        <span>{{ job.totalRate | number }}</span><br>
        <em>{{ job.attributes.hours }} Timmar ({{ job.max_rate | number }} {{ job.currency }}/h)</em>
    </div>
    <div>
        <button ng-click="ctrl.accept_job()" ng-show="ctrl.canApplyJob">{{"job-body.search.text" | translate}}</button>
    </div>
</div>

<div class="job-body-description">
    <h3>{{"job-body.uppdrag.title" | translate}}</h3>
    <div>
        <ul>
            <li class="job-description">{{ job.attributes.description }}</li>
        </ul>
        <ul>
            <li class="job-location">{{ job.attributes["street"] }} {{ job.attributes["zip"] }}</li>
            <li class="job-date"><span>{{ job.attributes["job-date"] | date: 'dd' }}</span>{{ job.attributes["job-date"]
                | date: 'yyyy-MM-dd' }} - {{ job.attributes["job-end-date"] | date: 'yyyy-MM-dd' }}
            </li>
            <li class="job-language">Eng, Svenska, Arabiska</li>
            <li class="job-review"><a href="#">{{"job-body.review.text" | translate}}</a></li>
        </ul>
    </div>
</div>
