<div class="main-title job-header">
    <div>
        <div>
            <div class="job-header-logo" style="background-image: url({{company_image}});"></div>
        </div>
        <div>
            <ul>
                <li><h1>{{ job.company.attributes.name }}</h1></li>
                <li><h2>{{ job.attributes.name }}</h2></li>
            </ul>
            <ul>
                <li>{{ job.owner.attributes["first-name"] }} {{ job.owner.attributes["last-name"] }}</li>
                <li>{{ job.company.attributes.website }}</li>
            </ul>
        </div>
    </div>
</div>