<div class="job-body-heading">
    <div>
        <span>{{ job.totalRate | number:0 }} {{ job.currency }}</span><br>
        <em>{{ job.attributes.hours }} {{"assignment.hours" | translate}} ({{ job.max_rate | number:0 }} {{ job.currency
            }}/{{'common.hour' | translate}})</em>
        <em ng-show="$parent.ctrl.isCompany != 1"> {{ 'common.gross_salary' | translate }}</em>
        <span class="net-salary" ng-show="$parent.ctrl.isCompany != 1">{{job.netRate}} {{job.currency}} {{ 'common.net_salary' | translate }}</span>
    </div>
    <div>
        <button ng-click="ctrl.accept_job()" class="ng-hide" ng-show="ctrl.canApplyJob && ctrl.isCompany!==1">
            {{"assignment.status.apply" | translate}}
        </button>
        <button ng-click="" disabled class="ng-hide" ng-show="!ctrl.canApplyJob && ctrl.isCompany===0">{{"assignment.status.applied" |
            translate}}
        </button>
    </div>
</div>

<div class="job-body-description">
    <h3>{{"assignment.assignments.title" | translate}}
        <a href="" ng-if="job.attributes.description_translation.from != job.attributes.description_translation.to"
           ng-click="ctrl.toggleDT('job_item')" title="{{'translation.dynamic.title' | translate}}"><i
                ng-class="dt.job_item ? 'demo-icon icon-switch-language on' : 'demo-icon icon-switch-language off'"></i></a>
        <i ng-if="job.attributes.description_translation.from == job.attributes.description_translation.to"
           class="demo-icon icon-switch-language off" title="{{'translation.dynamic.off.title' | translate}}"></i>
    </h3>
    <div>
        <ul ng-if="job.attributes.description_translation.from == job.attributes.description_translation.to">
            <li class="job-description">{{ job.attributes.description }}</li>
        </ul>
        <ul ng-if="job.attributes.description_translation.from != job.attributes.description_translation.to">
            <li class="job-description translated" ng-show="dt.job_item">{{ job.attributes.description_translation.text
                }}
            </li>
            <li class="job-description" ng-show="!dt.job_item">{{ job.attributes.description }}</li>
        </ul>
        <ul>
            <li class="job-location">{{ job.attributes["street"] }} {{ job.attributes["zip"] }}</li>
            <li class="job-date"><span>{{ job.attributes["job-date"] | date: 'dd' }}</span>{{ job.attributes["job-date"]
                | date: 'yyyy-MM-dd' }} - {{ job.attributes["job-end-date"] | date: 'yyyy-MM-dd' }}
            </li>
            <li class="job-report" ng-hide="job.newjobmode"><a href="#{{routes.contact.form.url}}">{{"assignment.report" | translate}}</a></li>
        </ul>
    </div>
</div>
