<div class="Job-body-heading">
  <h2>Containerstädning</h2>
  <span>{{ job.hours }} Timmar ({{ job.max_rate | currency }}/h)</span>
  <span class="Job-body-heading-total">{{ job.totalRate | currency }}</span>
</div>


<div class="Job-body-description">
  <h3>Uppdrag</h3>
  <div class="Job-body-description-inner">
    <p>{{ job.description }}</p>
    <p>6,7 KM Vinäs</p>
    <p>{{ job.date | date: 'yyyy-MM-dd' }} - {{ job.date | date: 'yyyy-MM-dd' }}</p>
    <p><a href="#">Anmäl till granskning</a></p>
  </div>
</div>