<section class="row">

    <div class="col-xs-10 col-xs-offset-1">

        <h2 class="text-center">{{ 'assignment.list.title' | translate }}</h2>

        <div id="map_canvas" ng-class="map_class">
            <ui-gmap-google-map center="map.center" zoom="map.zoom">
                <ui-gmap-marker ng-repeat="m in markers" coords="m.coords" idkey="m.id" options="m.options">
                    <ui-gmap-window>
                        <div>
                            <h2>{{m.job.name}}</h2>
                            <p>{{m.job.description}}</p>
                            <p>{{m.job.totalRate}} {{m.job["hourly-pay"].currency}}</p>
                            <a href="#{{routes.job.get.resolve(m.job)}}">Click Here</a>
                        </div>
                    </ui-gmap-window>
                </ui-gmap-marker>
            </ui-gmap-google-map>
            <button ng-class="zoom_class" ng-click="zoomInOut()"></button>
        </div>

        <ul>
            <li data-ng-repeat="job in jobs">
                <a href="#{{routes.job.get.resolve(job)}}">{{job.name}}</a>
                <p>{{job.description}}</p>
                <p>{{job.totalRate}} {{job["hourly-pay"].currency}}</p>
            </li>
        </ul>
        <p><i>{{ ctrl.message | json}}</i></p>
    </div>


</section>