<section class="row">

    <div class="col-xs-10 col-xs-offset-1">

        <h2 class="text-center">{{ 'assignment.list.title' | translate }} ({{jobs.meta.total}})</h2>


        <div custom-select="category.id as category.name for category in searchAsync($searchTerm)"
             custom-select-options="categoryOptions" ng-model="categorySelected"></div>


        <div id="map_canvas" ng-class="map_class">
            <ui-gmap-google-map center="map.center" zoom="map.zoom">
                <ui-gmap-marker ng-repeat="m in markers" coords="m.coords" idkey="m.id" options="m.options">
                    <ui-gmap-window>
                        <div>
                            <h2>{{m.job.attributes.name}}</h2>
                            <p>{{m.job.attributes.description}}</p>
                            <p>{{m.job.totalRate}} {{m.job.currency}}</p>
                            <a href="#{{routes.job.get.resolve(m.job)}}">Click Here</a>
                        </div>
                    </ui-gmap-window>
                </ui-gmap-marker>
            </ui-gmap-google-map>
            <button ng-class="zoom_class" ng-click="zoomInOut()"></button>
        </div>

        <ul>
            <li ng-repeat="job in jobs.data">
                <a href="#{{routes.job.get.resolve(job)}}">{{job.attributes.name}}</a>
                <p>{{job.attributes.description}}</p>
                <p>{{job.totalRate}} {{job.currency}}</p>
            </li>
        </ul>

        <div>
            <button ng-click="getJobsPage('first')" ng-disabled="!jobs.links.first">First</button>
            <button ng-click="getJobsPage('prev')" ng-disabled="!jobs.links.prev">Prev</button>
            <button ng-click="getJobsPage('next')" ng-disabled="!jobs.links.next">Next</button>
            <button ng-click="getJobsPage('last')" ng-disabled="!jobs.links.last">Last</button>
        </div>
        <p><i>{{ ctrl.message | json}}</i></p>
    </div>


</section>