<section class="row menu-page" ng-show="routes.global.isMainMenuOpen">
    <button class="close-x" ng-click="ctrl.menu(0)"><i class="demo-icon icon-ic-close"></i></button>
    <span class="close-bar" ng-click="ctrl.menu(0)"></span>

    <div ng-hide="ctrl.signedIn()">
        <div>
            <div>
                <h2 class="section-title"><i class="demo-icon icon-ic-just-arrived-logo"></i></h2>
                <ul>
                    <li><a class="nav-job-list" href="#{{routes.job.list.url}}" ng-click="ctrl.menu(0)">{{'menu.main.find_assignment'
                        | translate}}</a></li>
                    <li><a class="nav-job-create" href="#{{routes.job.create.url}}" ng-click="ctrl.menu(0)">{{'menu.main.create_assignment'
                        | translate}}</a></li>
                    <li><a class="nav-faq" href="#{{routes.global.faq.url}}" ng-click="ctrl.menu(0)">{{'menu.main.faq' |
                        translate}}</a></li>
                    <li><a class="nav-contact" href="#{{routes.contact.form.url}}" ng-click="ctrl.menu(0)">{{'menu.main.contact'
                        | translate}}</a></li>
                    <li><a class="nav-signin" href="" ng-click="ctrl.signin()">{{'menu.main.login' | translate}}</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div>
                <a ng-show="!ctrl.menuShowCreateAccount" class="nav-create-account" href="" ng-click="ctrl.menuShowCreateAccount = !ctrl.menuShowCreateAccount">{{'menu.main.create_account' | translate}}</a>
                <div ng-show="ctrl.menuShowCreateAccount">
                    <h2 class="create-account-header">{{'menu.main.create_account.choose' | translate}}</h2>
                    <a class="nav-create-account" href="#{{routes.user.register.url}}" ng-click="ctrl.menu(0)">{{'user' | translate}}</a>
                    <a class="nav-create-account" href="#{{routes.company.register.url}}" ng-click="ctrl.menu(0)">{{'company' | translate}}</a>
                </div>
            </div>
        </div>
    </div>

    <div ng-show="ctrl.signedIn()">
        <div>
            <div>
                <h2 class="section-title"><i class="demo-icon icon-ic-just-arrived-logo"></i></h2>
                <ul>
                    <li ng-Show="ctrl.isCompany === 0"><a class="nav-my-job" href="#{{routes.arriver.jobs.url}}" ng-click="ctrl.menu(0)">{{'menu.main.my_assignment'
                        | translate}}</a></li>
                    <li ng-Show="ctrl.isCompany === 1"><a class="nav-my-job" href="#{{routes.company.jobs.url}}" ng-click="ctrl.menu(0)">{{'menu.main.my_assignment'
                        | translate}}</a></li>
                    <li><a class="nav-job-list" href="#{{routes.job.list.url}}" ng-click="ctrl.menu(0)">{{'menu.main.find_assignment'
                        | translate}}</a></li>
                    <li ng-Show="ctrl.isCompany === 1"><a class="nav-job-create" href="#{{routes.job.create.url}}" ng-click="ctrl.menu(0)">{{'menu.main.create_assignment'
                        | translate}}</a></li>
                    <li><a class="nav-faq" href="#{{routes.global.faq.url}}" ng-click="ctrl.menu(0)">{{'menu.main.faq' |
                        translate}}</a></li>
                    <li><a class="nav-contact" href="#{{routes.contact.form.url}}" ng-click="ctrl.menu(0)">{{'menu.main.contact'
                        | translate}}</a></li>
                    <li ng-Show="ctrl.isCompany === 0"><a class="nav-profile" href="" ng-click="ctrl.profileEdit()">{{'profile'
                        | translate}}</a></li>
                    <li><a class="nav-signout" href="" ng-click="ctrl.signout()">{{'menu.main.logout' | translate}}</a></li>
                </ul>
            </div>
        </div>
        <div>
            <div>
                <div class="user-info">
                    <div>
                        <a class="user-table" href="#{{routes.user.user.url}}" ng-click="ctrl.menu(0)" ng-Show="ctrl.isCompany === 0">
                            <span><span class="user-info-image" style="background-image: url({{ctrl.user.data.user_image}})"></span></span>
                            <span>{{ctrl.user.data.attributes["first-name"]}} {{ctrl.user.data.attributes["last-name"]}}</span>
                        </a>
                        <span class="user-table" ng-Show="ctrl.isCompany === 1">
                            <span><span class="user-info-image" style="background-image: url({{ctrl.user.data.user_image}})"></span></span>
                            <span>{{ctrl.user.data.attributes["first-name"]}} {{ctrl.user.data.attributes["last-name"]}}</span>
                        </span>
                    </div>
                    <div><a href="" ng-click="ctrl.setProfile(); ctrl.showSetting=true;"><i class="demo-icon icon-ic-settings"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</section>
