<section>
    <div class="complete terms-page">
        <div>
            <div>
                <h1>{{'promo.title' | translate}}</h1>
                <p>{{'promo.description' | translate}}</p>
                <p>
                    <a href="#{{routes.user.signin.url}}">{{ 'menu.main.login' | translate}}</a>
                    <br/> {{'common.or' | translate}} <br/>
                    <a href="http://justarrived.se" target="_self">http://justarrived.se</a>
                </p>

            </div>
        </div>
    </div>
</section>