<section>
    <div class="grey-header">
        <h1>{{ 'user.create.title' | translate }}</h1>
        <p ng-show="ctrl.data.company_id">{{'company.create.description' | translate}}</p>
        <p ng-show="!ctrl.data.company_id">{{'user.create.description' | translate}}</p>
    </div>
    <div class="register-form">

        <form name="form" novalidate ng-submit="ctrl.process()">
            <div class="material-input">


                <validation2 form="form" field="ssn" errormsg="user.form.ssn.validation">
                    <div class="group">
                        <input name="ssn" type="text" required ng-pattern="/^[\d\-]+$/" ng-minlength="10"
                               ng-model="ctrl.data.ssn"
                               ng-keyup="form.ssn.error_detail = undefined"
                               ng-blur="ctrl.checkSSN();"/>
                        <label>{{ 'user.form.ssn' | translate }}</label>
                    </div>
                </validation2>

                <validation2 form="form" field="first_name" errormsg="user.form.first_name.validation">
                    <div class="group">
                        <input name="first_name" type="text" required
                               ng-model="ctrl.data.first_name" ng-keyup="form.first_name.error_detail = undefined">
                        <label>{{ 'user.form.first_name' | translate }}</label>
                    </div>
                </validation2>

                <validation2 form="form" field="last_name" errormsg="user.form.last_name.validation">
                    <div class="group">
                        <input name="last_name" type="text" required ng-model="ctrl.data.last_name"
                               ng-keyup="form.last_name.error_detail = undefined">
                        <label>{{'user.form.last_name' | translate }}</label>
                    </div>
                </validation2>

                <validation2 form="form" field="description" errormsg="profile.form.presentation.validation"
                             ng-hide="!ctrl.data.company_id">
                    <div class="group">
                        <textarea name="description" msd-elastic ng-required='ctrl.data.company_id' ng-minlength="5"
                                  ng-model="ctrl.data.description"
                                  ng-keyup="form.description.error_detail = undefined"></textarea>
                        <label>{{ 'profile.form.presentation' | translate }}</label>
                    </div>
                </validation2>

                <validation2 form="form" field="phone" errormsg="user.form.phone.validation">
                    <div class="group">
                        <input name="phone" type="text" required ng-minlength="9" ng-model="ctrl.data.phone"
                               ng-keyup="form.phone.error_detail = undefined">
                        <label>{{ 'user.form.phone' | translate }}</label>
                    </div>
                </validation2>

                <validation2 form="form" field="street" errormsg="user.form.street.validation"
                             ng-hide="!ctrl.data.company_id">
                    <div class="group">
                        <input name="street" type="text" ng-required='ctrl.data.company_id' ng-minlength="5"
                               ng-model="ctrl.data.street" ng-keyup="form.street.error_detail = undefined">
                        <label>{{ 'user.form.street' | translate }}</label>
                    </div>
                </validation2>

                <validation2 form="form" field="zip" errormsg="user.form.zip.validation"
                             ng-hide="!ctrl.data.company_id">
                    <div class="group">
                        <input name="zip" type="text" ng-required='ctrl.data.company_id' ng-minlength="5"
                               ng-model="ctrl.data.zip" ng-keyup="form.zip.error_detail = undefined">
                        <label>{{ 'user.form.zip' | translate }}</label>
                    </div>
                </validation2>

                <validation2 form="form" field="email" errormsg="user.form.email.validation">
                    <div class="group">
                        <input name="email" type="email" required
                               ng-pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/"
                               ng-model="ctrl.data.email"
                               ng-keyup="form.email.error_detail = undefined">
                        <label>{{ 'user.form.email' | translate }}</label>
                    </div>
                </validation2>

                <validation2 form="form" field="current_status" errormsg="user.form.current_status.validation">
                    <div class="group group-select">
                        <select name="current_status" ng-model="ctrl.data['current-status']" required>
                            <option value="" hidden/>
                            <option ng-repeat="status in ctrl.statuses" value="{{status.id}}">
                                {{status.attributes['en-name']}}
                            </option>
                        </select>
                        <label class="control-label">{{ 'user.form.current_status' | translate }}</label>
                    </div>
                </validation2>

                <validation2 form="form" field="at_und" errormsg="user.form.at_und.validation">
                    <div class="group group-select">
                        <select name="at_und" ng-model="ctrl.data['at-und']" required>
                            <option value="" hidden/>
                            <option ng-repeat="atUnd in ctrl.atUnds" value="{{atUnd.value}}">
                                {{atUnd['en-name']}}
                            </option>
                        </select>
                        <label class="control-label">{{ 'user.form.at_und' | translate }}</label>
                    </div>
                </validation2>

                <div class="job-date">
                    <validation2 form="form" field="arrived_at" errormsg="user.form.arrived_at.validation">
                        <div class="group">
                            <input type="date" id="arrived_at" name="arrived_at" required
                                   ng-pattern='/^[0-9]{4}-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/'
                                   ng-model="ctrl.data['arrived-at']"
                                   placeholder="YYYY-MM-DD" ng-keyup="form.arrived_at.error_detail = undefined">
                            <label>{{'user.form.arrived_at' | translate}}</label>
                        </div>
                    </validation2>
                </div>

                <div class="cate-group">
                    <label>{{'user.form.country_of_origin' | translate}}</label>
                    <div custom-select="country['country-code'] as country['en-name'] for country in searchAsync($searchTerm)"
                         custom-select-options="countryOptions" ng-model="ctrl.data['country-of-origin']"></div>

                    <validation2 form="form" field="country_of_origin" errormsg="user.form.country_of_origin.validation">
                        <input type="hidden" name="country_of_origin" required ng-model="ctrl.data['country-of-origin']"/>
                    </validation2>
                </div>

                <validation2 form="form" field="password" errormsg="user.form.password.validation">
                    <div class="group">
                        <input name="password" type="password" required ng-minlength="8" ng-model="ctrl.data.password"
                               ng-keyup="form.password.error_detail = undefined">
                        <label>{{ 'user.form.password' | translate }}</label>
                    </div>
                </validation2>

                <validation2 form="form" field="passwordCompare" errormsg="user.form.passwordCompare.validation">
                    <div class="group">
                        <input name="passwordCompare" type="password" required password-match="ctrl.data.password" ng-model="ctrl.data.passwordCompare"
                               ng-keyup="form.passwordCompare.error_detail = undefined">
                        <label>{{ 'user.form.password' | translate }}</label>
                    </div>
                </validation2>

                <div class="group register-image">
                    <!--<input type="file" id="file_upload" name="file" onchange="angular.element(this).scope().fileNameChanged()" accept="image/*">-->
                    <input type="file" id="file_upload" name="file" custom-on-change="fileNameChanged" accept="image/*">
                    <label>{{ 'user.form.picture' | translate }}</label>
                </div>
            </div>
            <div>
                <div class="terms">
                    <p><input id="chk_terms" type="checkbox" ng-true-value="1" required name="terms" ng-model="terms"> <label for="chk_terms">{{'terms.accept' | translate}} {{'terms' | translate}}</label> <a href="assets/terms/160523_2051-2_Terms_and_Conditions_(en).pdf" target="_blank"> PDF EN</a>, <a href="assets/terms/160520_2051-2_Anvandarvillkor_(sv).pdf" target="_blank"> PDF SV</a></p>
                </div>

                <div>
                    <button class="form-control button primary" type="submit" ng-disabled="form.$invalid || ctrl.uploading">{{'common.continue' | translate}}</button>
                </div>
                <div class="bottom-text-center">
                    <p>
                        {{'common.have_account' | translate}}
                        <br>
                        <a href="#{{routes.user.signin.url}}">{{'common.login' | translate}}</a>
                    </p>
                </div>
            </div>
        </form>
    </div>

</section>
