<section class="row">

  <div class="col-xs-10 col-xs-offset-1">

    <h2 class="text-center">{{ 'register.title' | translate }}</h2>

    <form ng-submit="ctrl.process()">
      <div class="form-group">
        <select class="form-control" name="language" ng-model="ctrl.data.language_id">
          <option value="{{ option.id }}" ng-repeat="option in ctrl.languages.data"> {{option.attributes.local_name}}</option>
        </select>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="{{ 'register.form.ssn' | translate }}" ng-model="ctrl.data.ssn" size="10">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="{{ 'register.form.first_name' | translate }}" ng-model="ctrl.data.first_name">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="{{'register.form.last_name'  | translate }}" ng-model="ctrl.data.last_name">
      </div>
      <div class="form-group">
        <textarea class="form-control" placeholder="{{ 'register.form.description' | translate }}" ng-model="ctrl.data.description"></textarea>
      </div>
      <div class="form-group">
        <input class="form-control" type="email" placeholder="{{ 'register.form.email' | translate }}" ng-model="ctrl.data.email">
      </div>
      <div class="form-group">
        <input class="form-control" type="password" placeholder="{{ 'register.form.password' | translate }}" ng-model="ctrl.data.password">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="{{ 'register.form.phone' | translate }}" ng-model="ctrl.data.phone">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="{{ 'register.form.street' | translate }}" ng-model="ctrl.data.street">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" placeholder="{{ 'register.form.zip' | translate }}" ng-model="ctrl.data.zip">
      </div>
      <div class="form-group">
        <button class="form-control" type="submit">Fortsätt</button>
      </div>
    </form>
  </div>
</section>

<p>
  {{ctrl.data}}
</p>
<p>
  <i>{{ctrl.message}}</i>
</p>
