<section class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <h2>SKAPA KONTO</h2>
            <br/><br/>

        <form name="form" novalidate ng-submit="ctrl.process()">
            <div class="company-register-form material-input">
                <div custom-select="company.id as company.attributes.name for company in searchAsync($searchTerm)"
                     custom-select-options="companyOptions" ng-model="companySelected"></div>
                <br/><br/>
                <input type="hidden" name="id" ng-model="ctrl.data.id"/>
                <validation form="form" field="cin" errormsg="company-register.form.cin.validation_error"
                            ng-show="isAddNewCIN">
                    <div class="group">
                        <input type="text" name="cin" ng-pattern="regex" ng-minlength="10" ng-maxlength="10"
                               ng-model="ctrl.data.cin" readonly>
                        <label>{{'company-register.cin.label' | translate}}</label>
                    </div>
                </validation>
                <validation form="form" field="name" errormsg="company-register.form.name.validation_error">
                    <div class="group">
                        <input type="text" name="name" required ng-model="ctrl.data.name" ng-disabled="disableInput">
                        <label>{{'company-register.name.label' | translate}}</label>
                    </div>
                </validation>
                <validation form="form" field="website" errormsg="company-register.form.website.validation_error">
                    <div class="group">
                        <input type="text" name="website" ng-model="ctrl.data.website" ng-disabled="disableInput">
                        <label>{{'company-register.website.label' | translate}}</label>
                    </div>
                </validation>
                <validation form="form" field="firstname"
                            errormsg="company-register.form.contact-firstname.validation_error">
                    <div class="group">
                        <input type="text" name="firstname" ng-model="ctrl.data.firstname" ng-disabled="disableInput">
                        <label>{{'company-register.contact-firstname.label' | translate}}</label>
                    </div>
                </validation>
                <validation form="form" field="lastname"
                            errormsg="company-register.form.contact-lastname.validation_error">
                    <div class="group">
                        <input type="text" name="lastname" ng-model="ctrl.data.lastname" ng-disabled="disableInput">
                        <label>{{'company-register.contact-lastname.label' | translate}}</label>
                    </div>
                </validation>
                <validation form="form" field="email" errormsg="company-register.form.email.validation_error">
                    <div class="group">
                        <input type="email" name="email" ng-model="ctrl.data.email" ng-disabled="disableInput">
                        <label>{{'company-register.email.label' | translate}}</label>
                    </div>
                </validation>
                <validation form="form" field="phone" errormsg="company-register.form.phone.validation_error">
                    <div class="group">
                        <input type="text" name="phone" ng-model="ctrl.data.phone" ng-disabled="disableInput">
                        <label>{{'company-register.telephone.label' | translate}}</label>
                    </div>
                </validation>

                <div class="form-group">
                    <button class="form-control btn btn-pos" type="submit" ng-disabled="form.$invalid">Fortsätt</button>
                </div>
            </div>
        </form>

    </div>

    <p>
        {{ctrl.data}}
    </p>
    <p>
        <i>{{ctrl.message}}</i>
    </p>
</section>