<section>
    <div class="reset-password-form">
        <form ng-submit="ctrl.changePassword()" autocomplete="off">
            <div>
                <label>{{"common.password" | translate}}</label>
            </div>
            <div>
                <input type="password" name="password" ng-model="ctrl.model.data.attributes.password" ng-minlength="6"
                       autocomplete="off"/>
            </div>
            <div class="text-center">
                <input type="submit" value="{{ 'common.save' | translate }}"/>
            </div>
            <div class="error-message" ng-show="ctrl.message !== ''">
                Cannot change password. Click here <a href="#{{routes.global.forgot_password.url}}">{{'login.forgot_password'
                | translate}}</a> and try again.
            </div>
        </form>
    </div>
</section>