<section>
    <div class="grey-header">
        <h1>{{'login.select.title' | translate}}</h1>
        <p>Description</p>
    </div>
    <div class="select-login">
        <p>
            Du behöver skapa en profil innan du kan skapa uppdraget
            <br>
            <a href="#{{routes.company.register.url}}">{{'login.select.register-email' | translate}}</a>
        </p>
        <p>
            Har du redan ett konto?
            <br>
            <a href="#{{routes.user.signin.url}}">{{'login.select.signin' | translate}}</a>
        </p>
    </div>
</section>