<section>
    <div class="grey-header">
        <h1>{{'login.create.assignment.title' | translate}}</h1>
        <!--<p>Description</p>-->
    </div>
    <div class="select-login">
        <p>
            {{'login.create.assignment.description' | translate}}
            <br>
            <a href="#{{routes.company.register.url}}">{{'common.register_account' | translate}}</a>
        </p>
        <p>
            {{'common.have_account' | translate}}
            <br>
            <a href="#{{routes.user.signin.url}}">{{'common.login' | translate}}</a>
        </p>
    </div>
</section>