<section class="row lang-page" ng-controller="LanguageCtrl as ctrl" ng-show="routes.global.isSelectLanguageOpen">
    <div>
        <div>
            <div class="just-arrived-logo"></div>
        </div>
        <div>
            <div>
                <h2 class="text-center">{{ 'language.select.title' | translate }}</h2>
                <div class="lang-wrapper">
                    <button data-ng-repeat="lang in ctrl.languages.data" ng-click="ctrl.useLanguage(lang)"
                            type="button">
                        <span class="lang-icon">{{lang.attributes["lang-code"]}}</span><span class="lang-text">{{ctrl.language.attributes["local-name"]}}</span>
                    </button>
                </div>
                <p>By using the justarrived.se website, you agree to the use of cookies by us and third parties to
                    enhance your
                    experience. For more information, or to change your cookie settings, Click here.</p>
                <p><a href="">Click here</a></p>
            </div>
        </div>
    </div>
</section>