<section class="setting-page" ng-show="ctrl.showSetting">
    <button class="close-x" ng-click="ctrl.showSetting=false"><i class="demo-icon icon-ic-close"></i></button>
    <div data-ng-controller="SettingCtrl as sCtrl">
        <div>
            <div>

                <div ng-show="ctrl.isCompany===0">
                    <div>
                        <h2>{{"menu.settings.title" | translate}}</h2>
                    </div>
                    <div class="setting-tab">
                        <a href="" ng-click="curr_tab=1" ng-class="{'sel':curr_tab!==2}">{{'menu.settings.personal_data'
                            | translate}}</a>
                        <a href="" ng-click="curr_tab=2" ng-class="{'sel':curr_tab===2}">{{'menu.settings.bank_details'
                            | translate}}</a>
                    </div>
                </div>

                <div ng-show="curr_tab!==2">
                    <form name="form_profile" class="form-profile" ng-submit="sCtrl.companyProfileUpdate();">
                        <input type="text" name="username" style="display:none" value="" />
                        <input type="password" name="spassword" style="display:none" value="" />
                        <div ng-show="ctrl.isCompany===1">
                            <div>
                                <div class="upload-photo">
                                    <input type="file" id="file_upload" name="file"
                                           onchange="angular.element(this).scope().fileNameChanged()" accept="image/*"/>
                                    <input type="text" name="user_image_one_time_token"
                                           ng-model="sCtrl.model.data.attributes['user-image-one-time-token']"/>
                                    <div class="user-info-image"
                                         style="background-image:url({{sCtrl.user_image}})"></div>
                                    <div><i class="demo-icon icon-ic-camera"></i></div>
                                </div>
                                <div>{{'menu.settings.upload_logo' | translate}}</div>
                            </div>
                            <div><h2>{{userModel.data.company["name"]}}</h2></div>
                        </div>
                        <div ng-show="ctrl.isCompany===1">
                            <div><label>{{'user.form.orgnr' | translate}}:</label></div>
                            <div><input type="text" value="{{userModel.data.company.cin}}" readonly></div>
                        </div>
                        <div ng-show="ctrl.isCompany===0">
                            <div><label>{{'user.form.ssn' | translate}}:</label></div>
                            <div><input type="text" name="ssn" ng-model="sCtrl.model.data.attributes.ssn"
                                        ng-minlength="10" ng-maxlength="10"></div>
                        </div>
                        <div class="group">
                            <div>
                                <div><label><i class="demo-icon icon-ic-user"></i></label></div>
                                <div class="name-group">
                                    <input type="text" name="first_name"
                                           placeholder="{{'user.form.first_name' | translate}}"
                                           required
                                           ng-minlength="2"
                                           ng-model="sCtrl.model.data.attributes['first-name']"
                                           ng-class="{'has-error': form_profile.first_name.error_detail!==undefined}"
                                           ng-keyup="form_profile.first_name.error_detail = undefined">
                                    <label class="error"></label>
                                    <input type="text" name="last_name"
                                           placeholder="{{'user.form.last_name' | translate}}"
                                           required
                                           ng-minlength="2"
                                           ng-model="sCtrl.model.data.attributes['last-name']"
                                           ng-class="{'has-error': form_profile.last_name.error_detail!==undefined}"
                                           ng-keyup="form_profile.last_name.error_detail = undefined">
                                    <label class="error"></label>
                                </div>
                            </div>
                            <div>
                                <div><label><i class="demo-icon icon-ic-email"></i></label></div>
                                <div><input type="email" name="email" placeholder="{{'user.form.email' | translate}}"
                                            required
                                            ng-model="sCtrl.model.data.attributes.email"
                                            ng-class="{'has-error': form_profile.email.error_detail!==undefined}"
                                            ng-keyup="form_profile.email.error_detail = undefined">
                                    <label class="error"></label>
                                </div>
                            </div>
                            <div>
                                <div><label><i class="demo-icon icon-ic-phone"></i></label></div>
                                <div><input type="text" name="phone" placeholder="{{'user.form.phone' | translate}}"
                                            required
                                            ng-minlength="9"
                                            ng-model="sCtrl.model.data.attributes.phone"
                                            ng-class="{'has-error': form_profile.phone.error_detail!==undefined}"
                                            ng-keyup="form_profile.phone.error_detail = undefined"><label
                                        class="error"></label>
                                </div>
                            </div>
                            <div>
                                <div><label><i class="demo-icon icon-ic-password"></i></label></div>
                                <div><input type="password" name="old_password"
                                            placeholder="{{'user.form.password' | translate}}"
                                            ng-minlength="6"
                                            ng-required="sCtrl.model.data.attributes.password"
                                            ng-model="sCtrl.model.data.attributes.old_password"
                                            ng-class="{'has-error': form_profile.old_password.error_detail!==undefined}"
                                            ng-keyup="form_profile.old_password.error_detail = undefined"
                                            autocomplete="off">
                                    <label class="error"></label></div>
                            </div>
                            <div>
                                <div><label><i class="demo-icon icon-ic-password"></i></label></div>
                                <div><input type="password" name="password"
                                            placeholder="{{'user.form.password' | translate}}"
                                            ng-minlength="6"
                                            ng-model="sCtrl.model.data.attributes.password"
                                            ng-keyup="form_profile.password.error_detail = undefined"
                                            autocomplete="off">
                                    <label class="error"></label></div>
                            </div>
                            <div>
                                <div><label><i class="demo-icon icon-ic-user3"></i></label></div>
                                <div>
                                    <select name="language_id" ng-model="sCtrl.model.data.attributes['language-id']">
                                        <option value="" hidden/>
                                        <option ng-repeat="lang in sCtrl.languages" value="{{lang.id}}">
                                            {{lang["en-name"]}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div>
                            <input type="submit" ng-value="'common.save' | translate">
                        </div>
                    </form>
                </div>
                <div ng-show="curr_tab===2">
                    <form name="form" class="setting-bank-form" novalidate ng-submit="ctrl.createBankAccount()" autocomplete="false">
                        <input type="text" name="username" style="display:none" value="" />
                        <input type="password" name="spassword" style="display:none" value="" />
                        <validation2 form="form" field="account_clearing_number"
                                     errormsg="finance.form.account_clearing_number.validation">
                            <div class="bank-group">
                                <div><label>{{'user.account.bank' | translate}}:</label></div>
                                <div><input type="text" name="account_clearing_number"
                                            ng-required="sCtrl.financeModel.data.attributes['account-number'] || (!ctrl.financeModel.data.attributes.iban && !ctrl.financeModel.data.attributes.bic)"
                                            ng-model="sCtrl.financeModel.data.attributes['account-clearing-number']"
                                            ng-keyup="form.account_clearing_number.error_detail = undefined"/>
                                </div>
                            </div>
                        </validation2>

                        <validation2 form="form" field="account_number"
                                     errormsg="finance.form.account_number.validation">
                            <div class="bank-group">
                                <div><label>{{'user.account.cardnr' | translate}}:</label></div>
                                <div><input type="text" name="account_number"
                                            ng-required="sCtrl.financeModel.data.attributes['account-clearing-number']"
                                            ng-model="sCtrl.financeModel.data.attributes['account-number']"
                                            ng-keyup="form.account_number.error_detail = undefined"/></div>
                            </div>
                        </validation2>
                        <validation2 form="form" field="iban" errormsg="finance.form.iban.validation">
                            <div class="bank-group">
                                <div><label>{{'user.account.iban' | translate}}:</label></div>
                                <div><input type="text" name="iban"
                                            ng-required="sCtrl.financeModel.data.attributes.bic || (!ctrl.financeModel.data.attributes['account-clearing-number'] && !ctrl.financeModel.data.attributes['account-number'])"
                                            ng-model="sCtrl.financeModel.data.attributes.iban"
                                            ng-keyup="form.iban.error_detail = undefined"/></div>
                            </div>
                        </validation2>
                        <validation2 form="form" field="bic" errormsg="finance.form.bic.validation">
                            <div class="bank-group">
                                <div><label>{{'user.account.bic' | translate}}:</label></div>
                                <div><input type="text" name="bic"
                                            ng-required="sCtrl.financeModel.data.attributes.iban"
                                            ng-model="sCtrl.financeModel.data.attributes.bic"
                                            ng-keyup="form.bic.error_detail = undefined" autocomplete="nope"/></div>
                            </div>
                        </validation2>
                        <validation2 form="form" field="password" errormsg="user.form.password.validation">
                            <div class="bank-group">
                                <div><label>{{'login.form.password' | translate}}:</label></div>
                                <div><input name="password" type="password"
                                            placeholder="{{'user.form.password' | translate}}"
                                            required
                                            ng-model="sCtrl.financeModel.data.attributes.password"
                                            ng-keyup="form.password.error_detail = undefined" autocomplete="nope"></div>
                            </div>
                        </validation2>

                        <div>
                            <input type="submit" ng-disabled="form.$invalid" value="{{'common.save' | translate}}"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>