<section class="section-instructions">
    <h2 class="section-title">{{'signin.title' | translate}}</h2>
    <form ng-submit="ctrl.process()">
        <input ng-model="ctrl.data.email" type="email" placeholder="{{'register.form.email'  | translate}}" />
        <input ng-model="ctrl.data.password" type="password" placeholder="{{'register.form.password'  | translate}}" />
        <input type="submit"/>
    </form>
    <p>
        {{ctrl.data}}
    </p>
    <p>
        <i>{{ctrl.message}}</i>
    </p>
</section>