<section>
    <div class="login-form">
        <h1>{{'login.title' | translate}}</h1>
        <form name="form" novalidate ng-submit="ctrl.process()">
            <div class="material-input">
                <validation form="form" field="email" errormsg="login.form.username.validation">
                    <div class="group">
                        <input type="email" name="email" required ng-model="ctrl.data.email">
                        <label>{{'login.form.username' | translate}}</label>
                    </div>
                </validation>

                <validation form="form" field="password" errormsg="login.form.password.validation">
                    <div class="group">
                        <input type="password" name="password" required ng-model="ctrl.data.password">
                        <label>{{'login.form.password' | translate}}</label>
                    </div>
                </validation>

                <div>
                    <div class="error-message">{{ctrl.message.data.errors[0].detail}}</div>
                    <input type="submit" ng-disabled="form.$invalid" ng-value="'common.login' | translate"/>
                </div>

                <div><a href="">{{'login.forgot_password' | translate}}</a></div>
            </div>
        </form>
    </div>
</section>