<section class="section-instructions">
    <div class="login-form">
        <h1 class="section-title">{{'signin.title' | translate}}</h1>
        <form ng-submit="ctrl.process()">
            <div><input ng-model="ctrl.data.email" type="email" placeholder="{{'register.form.email'  | translate}}"/>
            </div>
            <div><input ng-model="ctrl.data.password" type="password"
                        placeholder="{{'register.form.password'  | translate}}"/></div>
            <div><input type="submit"/></div>
            <div><a href="">Glömt lösenord?</a></div>
        </form>

        <p>
            {{ctrl.data}}
        </p>
        <p>
            <i>{{ctrl.message}}</i>
        </p>
    </div>
</section>