<section class="hero">
    <div class="hero__slider">
        <slick class="hero-slick" ng-hide="showvdo" dots="true" prev-arrow="false" next-arrow="false">
            <div>
                <img src="assets/images/content/hero.png" alt>
                <h2 class="section-title section-title--white">
                    {{'start.hero_section.slide_3' | translate}}
                </h2>
            </div>
            <div>
                <img class="top_space" src="assets/images/content/hero_2.jpg" alt>
                <h2 class="section-title section-title--white">
                    {{'start.hero_section.slide_3' | translate}}
                </h2>
            </div>
            <div>
                <img src="http://img.youtube.com/vi/ScMzIvxBSi4/default.jpg" alt>
                <h2 class="section-title section-title--white">
                    {{'start.hero_section.slide_1' | translate}}<br><i ng-click="showvdo=1"
                                                                       class="demo-icon icon-ic-arrow-right2"></i>
                </h2>
            </div>
            <div>
                <img ng-hide="showvdo2" src="http://img.youtube.com/vi/y2Ky3Wo37AY/default.jpg" alt>
                <h2 class="section-title section-title--white">
                    {{'start.hero_section.slide_2' | translate}}<br><i ng-click="showvdo=2"
                                                                       class="demo-icon icon-ic-arrow-right2"></i>
                </h2>
            </div>
        </slick>
        <div ng-show="showvdo" id="popupVid">
            <iframe ng-show="showvdo==1"
                    src="https://www.youtube-nocookie.com/embed/ScMzIvxBSi4?enablejsapi=1&rel=0&controls=0&showinfo=0"
                    frameborder="0" allowfullscreen></iframe>
            <iframe ng-show="showvdo==2"
                    src="https://www.youtube-nocookie.com/embed/y2Ky3Wo37AY?enablejsapi=1&rel=0&controls=0&showinfo=0"
                    frameborder="0" allowfullscreen></iframe>
            <div class="close-x" ng-click="showvdo=false"><i class="demo-icon icon-ic-close"></i></div>
        </div>
    </div>
    <a href="#{{routes.job.create.url}}">
        <div class="hero__col hero__col--left" ng-click="next(routes.job.create.url);">
            <div class="hero__col__content">
                <h3> {{'start.hero_section.left.title' | translate}} </h3>
                <h4>
                    {{'start.hero_section.left.text' | translate}}
                </h4>
            </div>
        </div>
    </a>
    <a href="#{{routes.user.register.url}}">
        <div class="hero__col hero__col--right">
            <div class="hero__col__content">
                <h3> {{'start.hero_section.right.title' | translate}} </h3>
                <h4>
                    {{'start.hero_section.right.text' | translate}}
                </h4>
            </div>
        </div>
    </a>
</section>
<section class="section-jobs">
    <div class="section-jobs__content">
        <h3>
            <div class="calendar">{{today | date: 'dd'}}</div>
            {{'start.job_section.title' | translate}}
            <div class="section-jobs__content-right"><a href="#{{routes.job.list.url}}"><span>{{'common.show_all' |
                translate}}</span></a></div>
        </h3>
        <slick class="slick-job" infinite="false" prev-arrow="false" next-arrow="false"
               init-onload="true" slides-to-show="10" data="ctrl.jobs.data" responsive="jobGalleryResponsive"
               on-directive-init="onDirectiveInit()">
            <div ng-repeat="job in ctrl.jobs.data">
                <a href="#{{ routes.job.get.resolve(job) }}">
                    <div class="image-wrapper">
                        <div style="background-image: url({{job.company_image}});"></div>
                        <b>{{ job.max_rate | number}} {{ job.currency }}</b>
                    </div>
                    <span>
                        {{ job.attributes.name | limitTo: 35 }} {{ job.attributes.name.length < 80 ? '' :
                        '...' }}
                        <!--{{ job.attributes.description | limitTo: 35 }} {{ job.attributes.description.length < 80 ? '' :
                        '...' }}-->
                    </span>
                </a>
            </div>
        </slick>
    </div>
</section>
<section class="section-instructions">
    <slick class="slick-instructions" center-mode="true" dots="true" prev-arrow="false" next-arrow="false"
           slides-to-show="3" responsive="instructionsResponsive" on-directive-init="onDirectiveInit()">
        <!--TODO: MAKE THIS ONE PERFECT SIMILAR TO OTHERS: SKAPA PROFIL-->
        <div>
            <div>
                <h3>{{'start.steps_section.title' | translate}}</h3>
                <!--<p>Description</p>-->
            </div>
            <div class="blue">
                <ul>
                    <li>{{'start.steps_section.step_1' | translate}}</li>
                    <li>{{'start.steps_section.step_2' | translate}}</li>
                    <li>{{'start.steps_section.step_3' | translate}}</li>
                    <li>{{'start.steps_section.step_4' | translate}}</li>
                </ul>
                <a href="#{{routes.job.create.url}}">{{'common.start_here' | translate}}</a>
            </div>
        </div>
        <!--END NEW ONE-->
        <div>
            <div>
                <h3>{{'start.instruction_section.slide_1.title' | translate}}</h3>
                <!--<p>Description</p>-->
            </div>
            <div class="pink">
                <ul>
                    <li>{{'start.instruction_section.slide_1.text_1' | translate}}</li>
                    <li>{{'start.instruction_section.slide_1.text_2' | translate}}</li>
                    <li>{{'start.instruction_section.slide_1.text_3' | translate}}</li>
                </ul>
                <a href="#{{routes.job.list.url}}">{{'common.start_here' | translate}}</a>
            </div>
        </div>
        <div>
            <div>
                <h3>{{'start.instruction_section.slide_2.title' | translate}}</h3>
                <!--<p>Description</p>-->
            </div>
            <div>
                <p>{{'start.instruction_section.slide_2.text_1' | translate}}</p>
                <ul>
                    <li>{{'start.instruction_section.slide_2.text_2' | translate}}</li>
                    <li>{{'start.instruction_section.slide_2.text_3' | translate}}</li>
                    <li>{{'start.instruction_section.slide_2.text_4' | translate}}</li>
                </ul>
                <a href="#{{routes.user.register.url}}">{{'common.start_here' | translate}}</a>
            </div>
        </div>
        <!--
        <div>
            <div class="blue">
                <ul>
                    <li>Description</li>
                    <li>Description</li>
                    <li>Description</li>
                </ul>
                <p><a>Starta här!</a></p>
            </div>
            <div>
                <h3>Title</h3>
                <p>Description</p>
            </div>
        </div>
        -->
    </slick>

</section>
<section class="section-partners">
    <h3> {{'start.partner_section.title' | translate}} </h3>
    <p> {{'start.partner_section.text' | translate}} </p>
    <div class="section group">
        <div><img class="col span_1_of_2" src="assets/images/content/logo-universum.png" alt="Universum"></div>
        <div><img class="col span_1_of_2" src="assets/images/content/logo-wntrgarden.png" alt="Wintrgarden"></div>
        <div><img class="col span_1_of_2" src="assets/images/content/antrop-logo2.png" alt="Antrop"></div>
        <div><img class="col span_1_of_2" src="assets/images/content/nem-logo.png" alt="Never Ending Monday"></div>
        <div><img class="col span_1_of_2" src="assets/images/content/wgni-logo.png" alt="Cyngi"></div>
        <div><img class="col span_1_of_2" src="assets/images/content/frilans_finans-logo.png" alt="Frilans Finans"></div>
        <div><img class="col span_1_of_2 extra-padding" src="assets/images/content/jacob_burenstam-logo.png" alt="Jacob Burenstam"></div>
        <div><img class="col span_1_of_2" src="assets/images/content/jansson_norin-logo.png" alt="Jansson Norin"></div>
        <div><img class="col span_1_of_2 left-padding" src="assets/images/content/nova-logo.png" alt="Nova"></div>
        <div><img class="col span_1_of_2" src="assets/images/content/bond_street_film_sthlm.png" alt="Bond Street Film"></div>
        <div><img class="col span_1_of_2" src="assets/images/content/hero_framtid_logo.jpg" alt="Hero Sverige"></div>
        <div><img class="col span_1_of_2" src="assets/images/content/migrationsverket.png" alt="Migrationsverket"></div>
        <div><img class="col span_1_of_2" src="assets/images/content/roda_korset.png" alt="Röda Korset"></div>
        <div><img class="col span_1_of_2" src="assets/images/content/skeppsbron_skatt.png" alt="Skeppsbron Skatt"></div>
        <div><img class="col span_1_of_2" src="assets/images/content/welcome.png" alt="Welcome!"></div>
    </div>
</section>
