<div class="modal-performed-job" ng-show="modalPerformShow">
    <div>
        <div>
            <section ng-show="!isPerformed">
                <h3><span class="user-info-image" style="background-image: url(assets/images/content/hero.png)"></span>
                </h3>
                <h3>Ar uppdraget utfort?</h3>
                <p>Perioden for uppdraget har passerats. For att fakturering ska goras och ersattningen ska betalas
                    ut maste
                    bade du och Amir godkanna uppdraget nar det har utforts.</p>
                <h4>
                    <span>Containerstadning</span>
                    <span>5h 100 SEK</span>
                </h4>
                <h4>
                    Totalkonstnad 500 SEK inkl. moms
                </h4>
                <div>
                    <a class="button pink" href="" ng-click="isPerformed=true">Ja</a>
                    <a class="button dark" href="" ng-click="modalPerformShow=false">Nej</a>
                </div>
            </section>
            <section ng-show="isPerformed">
                <form name="form" novalidate ng-submit="ctrl.createInvoice()">
                    <h3><span class="user-info-image"
                              style="background-image: url(assets/images/content/hero.png)"></span>
                    </h3>
                    <h3>Tack!</h3>
                    <p>Hur tyckte du att Amir utforde uppdraget? Ge antal stjanor (1-5) och skriv en recension som laggs
                        till
                        Amits profil</p>
                    <div>
                        <span class="rating" ng-class="ctrl.ratingClass">
                            <span ng-repeat="i in [1,2,3,4,5]" ng-click="ctrl.ratingModel.data.attributes.score=i; ctrl.ratingClass='score'+i;"></span>
                        </span>
                        <validation form="form" field="score" errormsg="">
                            <div class="group">
                                <input name="score" type="hidden" required ng-model="ctrl.ratingModel.data.attributes.score" required>
                            </div>
                        </validation>
                    </div>
                    <div>

                        <div class="material-input">

                            <validation form="form" field="comment" errormsg="">
                                <div class="group">
                                    <input name="comment" type="text" required ng-model="ctrl.ratingModel.data.attributes.body">
                                    <label>Skriv en rekommendation</label>
                                </div>
                            </validation>

                        </div>
                        <button class="button submit pink" type="submit" ng-disabled="form.$invalid">Skicka</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>