<section>
    <h2>{{ "menu.assignment.list" | translate }}</h2>
    <div>
        <a href="#{{routes.user.jobs.url}}">{{"user-jobs.job.label" | translate}}</a> |
        <a href="">ARKIV</a>
    </div>
    <div class="recent-activity">
        <h3>SENASTE AKTIVITET</h3>
        <ul>
            <li ng-repeat="job in jobs">
                <div>
                    {{job.attributes["job-date"] | date: "MMM"}}<br/>
                    {{job.attributes["job-date"] | date: "dd"}}
                </div>
                <div>
                    {{job.attributes["name"]}}<br/>
                    2 kommentarer & 17 ansökningar
                </div>
            </li>
        </ul>
    </div>
    <div class="wait-rating">
        <h3>SAKNAR BEDÖMNING</h3>
        <ul>
            <li>
                <div>
                    JAN<br/>
                    07
                </div>
                <div>
                    Satta ihop 5 hyllor<br/>
                    <i>Du anlitade Amir Kheirmand</i><br/>
                    Ge betyg ditt betyg:<br/>
                    &#9734; &#9734; &#9734; &#9734; &#9734;
                </div>
            </li>
        </ul>
    </div>

    <p>{{ctrl.model | json}}</p>
    <p>{{ctrl.message | json}}</p>
    <p>{{jobs | json}}</p>
</section>

