<section>
    <user-job-header></user-job-header>
    <div class="user-job-cadidates">
        <h1>VÄLJ KANDIDAT</h1>
        <p>Så här gör du text Lorem ipsum dolor sit amet, consectetuer adipiscing elit lorem.</p>
        <ul>
            <li ng-repeat="job_user in job_users">
                <div>
                    <div class="user-info-image" style="background-image: url(assets/images/content/hero.png)"></div>
                </div>
                <div>
                    <a href="#{{routes.user.job_candidate.resolve(ctrl.job_id,job_user.id)}}">{{job_user.attributes["first-name"]}}
                        {{job_user.attributes["last-name"]}}</a>
                    <br>
                    <span class="stars"><i class="select">&#9733;</i><i class="select">&#9733;</i><i class="select">&#9733;</i><i>&#9733;</i><i>&#9733;</i></span>
                    <span>(10 uppdrag)</span>
                </div>
                <div>
                    <span class="heart">&#10084;</span><br><span>Favorit</span>
                </div>
            </li>
        </ul>
    </div>

</section>