<section>
    <user-header></user-header>
    <div class="user-job-candidate-topmenu">
        <div>
            <a href="" ng-class="{sel:currTab === 3}" ng-click="currTab = 3">Skicka Meddelande</a>
        </div>
        <ul>
            <li><a href="" ng-class="{sel:currTab === 1}" ng-click="currTab = 1">Profil</a></li>
            <li><a href="" ng-class="{sel:currTab === 2}" ng-click="currTab = 2">Referenser</a></li>
        </ul>

    </div>
    <div class="user-job-status" ng-hide="ctrl.hasInvoice">
        <div ng-show="ctrl.isCompany === 1">
            <!-- Choose candidate -->
            <div class="user-job-status-title" ng-show="!ctrl.accepted">
                {{ctrl.candidate_model["first-name"]}} har sokt uppdraget
            </div>
            <div ng-show="!ctrl.accepted">
                <a href="" ng-click="modalShow = true">Anlita</a>
            </div>

            <!-- Wait user accepted -->
            <div class="user-job-status-title" ng-show="ctrl.accepted && !ctrl.will_perform">
                {{ctrl.candidate_model["first-name"]}} har {{ctrl.remainHours}}h {{ctrl.remainMinutes}}min<br/>
                på sig att acceptera uppdraget.
            </div>

            <!-- Job ongoing -->
            <div class="user-job-status-title" ng-show="ctrl.will_perform && !ctrl.performed">
                {{ctrl.candidate_model["first-name"]}} kommer utföra uppdraget
            </div>

            <!-- Job performed confirmation -->
            <div class="user-job-status-title" ng-show="ctrl.performed">
                Ar uppdraget utfört?
            </div>
            <div class="buttons" ng-show="ctrl.performed">
                <a class="button" href="" style="min-width:80px;" ng-click="ctrl.ownerCancelPerformed()">Nej</a>
                <a class="button" href="" style="min-width:80px;" ng-click="modalPerformShow=true; isPerformed=false;">Ja</a>
            </div>
        </div>
    </div>
    <div class="candidate-profile" ng-show="currTab === 1">
        <div>
            <h3><i class="demo-icon icon-ic-paper"></i>{{"user.presentation.label" | translate}}</h3>
            <p>{{ctrl.candidate_model.description}}</p>
        </div>
        <div>
            <h3><i class="demo-icon icon-ic-star"></i>{{"user.job-experience.label" | translate}}</h3>
            <p>{{ctrl.candidate_model["job-experience"]}}</p>
        </div>
        <div>
            <h3><i class="demo-icon icon-ic-education"></i>{{"user.education.label" | translate}}</h3>
            <p>{{ctrl.candidate_model["education"]}}</p>
        </div>
        <div>
            <h3><i class="demo-icon icon-ic-tool"></i>{{"user.skills.label" | translate}}</h3>
            <p></p>
        </div>
        <div>
            <h3><i class="demo-icon icon-ic-user3"></i>{{"user.language-skills.label" | translate}}</h3>
            <ul>
                <li>Swedish</li>
                <li>English</li>
            </ul>
        </div>
    </div>

    <div class="candidate-referencer" ng-show="currTab === 2">
        <ul>
            <li>
                <div><span class="user-info-image"
                           style="background-image: url(assets/images/content/antrop-logo.png)"></span></div>
                <div>
                    <h4>Kontainerstadning</h4>
                    <p>Elgiganten</p>
                    <p class="rating"><span class="select">&#9733;</span><span class="select">&#9733;</span><span
                            class="select">&#9733;</span><span class="select">&#9733;</span>&#9734;</p>
                    <p>Amir gjorde ett riktigt bra jobb. Elgiganten ar gigantisk nojda</p>
                </div>
                <div>
                    JAN<br/>
                    <span>01</span>
                </div>
            </li>
        </ul>
    </div>

    <div class="candidate-chat" ng-show="currTab === 3">
        <h3>Meddelanden</h3>
        <div>
            <ul>
                <li>
                    <div class="bubble">
                        <div>Amir Khermand</div>
                        <div>Hej, jag kan komma imorgon vid 10.00. Fungerar det?</div>
                    </div>
                    <div class="profile-image" style="background-image: url(assets/images/content/hero.png)">
                    </div>
                </li>
                <li class="right">
                    <div class="bubble">
                        <div>Ove Martinnson</div>
                        <div>Ja, det blir perfekt. Valkommen</div>
                    </div>
                    <div class="profile-image" style="background-image: url(assets/images/content/antrop-logo.png)">
                    </div>
                </li>
            </ul>
            <form name="form" ng-submit="ctr.submitChat()">
                <div>
                    <div><input type="text" required/></div>
                    <div><input type="submit" value="skicka"></div>
                </div>
            </form>
            <div class="translate"><span>Översätt från svenska</span></div>
        </div>
    </div>

    <div class="modal-assign-job" ng-show="modalShow">
        <div>
            <div>
                <a href="" ng-click="modalShow = false"><i class="demo-icon icon-ic-close"></i></a>
                <h3>Du skickar en forfragan till</h3>
                <h3>{{ctrl.candidate_model["first-name"]}} {{ctrl.candidate_model["last-name"]}}</h3>
                <p>
                    {{ctrl.candidate_model["first-name"]}} har 12 timmer pa sig att acceptera uppdrager. Om
                    {{ctrl.candidate_model["first-name"]}} inte accepterar inom den angivna tiden kommer du att kunnar
                    valja en
                    annan kandidat.
                </p>
                <p>
                    <a class="button dark" href="" ng-click="modalShow = false">Avbryt</a>
                    <a class="button pink" href="" ng-click="ctrl.acceptJob()">Skicka</a>
                </p>
            </div>
        </div>
    </div>

    <!-- OWNER modal form performed to create invoice -->
    <user-job-perform></user-job-perform>

</section>