<section>
    <user-job-header></user-job-header>
    <div class="user-job-cadidates">
        <h1>VÄLJ KANDIDAT</h1>
        <p>Så här gör du text Lorem ipsum dolor sit amet, consectetuer adipiscing elit lorem.</p>
        <ul>
            <li ng-repeat="job_user in job_users">
                <div>
                    <a href="#{{routes.user.job_candidate.resolve(ctrl.job_id,job_user.id)}}"><span class="user-info-image" style="background-image: url(assets/images/content/hero.png)"></span></a>
                </div>
                <div>
                    <a href="#{{routes.user.job_candidate.resolve(ctrl.job_id,job_user.id)}}">{{job_user.attributes["first-name"]}}
                        {{job_user.attributes["last-name"]}}</a>
                    <br>
                    <span class="rating"><span class="select">&#9733;</span><span class="select">&#9733;</span><span class="select">&#9733;</span>&#9734;&#9734;</span>
                    <span>(10 uppdrag)</span>
                </div>
                <div>
                    <span class="heart">&#9825;<!--<span class="select">&#x2764;</span>--></span>
                    <br>
                    <span>Favorit</span>
                </div>
            </li>
        </ul>
    </div>
</section>