<section>
    <user-header></user-header>
    <div class="user-job-candidate-topmenu">
        <a href="" ng-class="{sel:currTab === 1}" ng-click="currTab = 1">PROFIL</a> |
        <a href="" ng-class="{sel:currTab === 2}" ng-click="currTab = 2">REFERENSER</a> |
        <a href="" ng-class="{sel:currTab === 3}" ng-click="currTab = 3">SKICKA MEDDELANDE</a>
    </div>
    <hr/>
    <div class="user-job-status">
        <div class="user-job-status-title">{{job_status_title}}</div>
        <div ng-hide="isAccepted"><a href="" ng-click="modalShow = true">Anlita</a></div>
    </div>
    <hr/>
    <div class="candidate-profile" ng-show="currTab === 1">
        <div>
            <h3>{{"user.presentation.label" | translate}}</h3>
            <p>{{ctrl.candidate_model.description}}</p>
        </div>
        <div>
            <h3>{{"user.job-experience.label" | translate}}</h3>
            <p>{{ctrl.candidate_model["job-experience"]}}</p>
        </div>
        <div>
            <h3>{{"user.education.label" | translate}}</h3>
            <p>{{ctrl.candidate_model["education"]}}</p>
        </div>
        <div>
            <h3>{{"user.skills.label" | translate}}</h3>
            <p></p>
        </div>
        <div>
            <h3>{{"user.language-skills.label" | translate}}</h3>
            <p>
            <ul>
                <li>Swedish</li>
                <li>English</li>
            </ul>
            </p>
        </div>
    </div>

    <div class="candidate-referencer" ng-show="currTab === 2">
        <ul>
            <li class="clearfix">
                <div class="col-xs-8">
                    <h4>Kontainerstadning</h4>
                    <div>Elgiganten</div>
                    <div class="rating">&#9733; &#9733; &#9733; &#9733; &#9733;</div>
                    <div>Amir gjorde ett riktigt bra jobb. Elgiganten ar gigantisk nojda</div>
                </div>
                <div class="col-xs-4">
                    JAN<br/>
                    01
                </div>
            </li>
        </ul>
    </div>

    <div class="candidate-chat" ng-show="currTab === 3">
        <h3>Meddelanden</h3>
        <ul>
            <li>
                <div>Amir Khermand</div>
                <div>Hej, jag kan komma imorgon vid 10.00. Fungerar det?</div>
            </li>
            <li>
                <div>Ove Martinnson</div>
                <div>Ja, det blir perfekt. Valkommen</div>
            </li>
        </ul>
        <form name="form" ng-submit="ctr.submitChat()">
            <input type="text" required/>
            <input type="submit" value="skicka">
        </form>
    </div>

    <div class="modal-assign-job" ng-show="modalShow" style="position:absolute; top:0; left:0; right:0; bottom:0; background-color:#fff;">
        <a href="" ng-click="modalShow = false">X</a>
        <h3>Du skickar en forfragan till</h3>
        <h3>{{ctrl.candidate_model["first-name"]}} {{ctrl.candidate_model["last-name"]}}</h3>
        <p>
            {{ctrl.candidate_model["first-name"]}} har 12 timmer pa sig att acceptera uppdrager. Om
            {{ctrl.candidate_model["first-name"]}} inte accepterar inom den angivna tiden kommer du att kunnar valja en
            annan kandidat.
        </p>
        <div>
            <a href="" ng-click="modalShow = false">Avbryt</a>
            <a href="" ng-click="ctrl.acceptJob()">Skicka</a>
        </div>
    </div>

    <p>{{ctrl.model | json}}</p>
    <p>{{ctrl.candidate_model | json}}</p>
</section>