<div class="user-header">
    <div>
        <div>
            <div class="user-info-image" style="background-image: url(assets/images/content/hero.png)"></div>
        </div>
        <div>
            <h2>{{ ctrl.candidate_model["first-name"] }} {{ ctrl.candidate_model["last-name"] }}</h2>
            <p><span><span class="rating">&#9733;</span>4.0</p>
        </div>
        <div>
            <div>
                <span class="heart">&#x2764;</span>
                <br>
                <span>Favorit</span>
            </div>
        </div>
    </div>
</div>