<section>
    <form name="form" novalidate ng-submit="ctrl.save()">
        <div class="grey-header user-title">
            <h1>{{ 'profile.create.title' | translate }}</h1>
            <p>{{'profile.create.description' | translate}}</p>
            <div>
                <div>
                    <div class="upload-button">
                        <!--<input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />-->
                        <input type="file" id="file_upload" name="file"
                               onchange="angular.element(this).scope().fileNameChanged()" accept="image/*">
                        <div class="icon-camera"><i class="demo-icon icon-ic-camera"></i><span>{{'profile.form.photo.choose' | translate}}</span>
                        </div>
                        <div class="user-info-image" back-img="{{ctrl.user_image}}"></div>
                    </div>
                </div>
                <div>{{ctrl.model.data.attributes["first-name"]}} {{ctrl.model.data.attributes["last-name"]}}</div>
            </div>
        </div>
        <div class="user-form">

            <div class="wrap-icon">
                <validation form="form" field="presentation" errormsg="profile.form.presentation.validation">
                    <div class="form-group presentation">
                        <label>{{ 'profile.form.presentation' | translate }}*</label>
                        <textarea name="presentation" msd-elastic required minlength="10" msd-elastic
                                  ng-model="ctrl.model.data.attributes.description"></textarea>
                    </div>
                </validation>

                <validation form="form" field="language_skills" errormsg="profile.form.languages.validation">
                    <div class="form-group language">
                        <label>{{ "profile.form.languages" | translate }}*</label>
                        <oi-select
                                oi-options="item.attributes['en-name'] for item in languagesArrFn($query) track by item.id"
                                ng-model="ctrl.language_bundle"
                                multiple
                                placeholder="Select"
                        ></oi-select>
                        <input type="hidden" name="language_skills" value="{{ctrl.language_bundle}}" required>
                    </div>
                </validation>

                <validation form="form" field="job_experience" errormsg="profile.form.experience.validation">
                    <div class="form-group experience">
                        <label>{{ "profile.form.experience" | translate }}</label>
                        <textarea name="job_experience" msd-elastic
                                  ng-model="ctrl.model.data.attributes['job-experience']"></textarea>
                    </div>
                </validation>

                <validation form="form" field="education" errormsg="profile.form.education.validation">
                    <div class="form-group education">
                        <label>{{ "profile.form.education" | translate }}</label>
                        <textarea name="education" msd-elastic
                                  ng-model="ctrl.model.data.attributes.education"></textarea>
                    </div>
                </validation>

                <validation form="form" field="competence_text" errormsg="profile.form.skills.validation">
                    <div class="form-group competences">
                        <label>{{ "profile.form.skills" | translate }}</label>
                        <textarea name="competence_text" msd-elastic
                                  ng-model="ctrl.model.data.attributes['competence-text']"></textarea>
                    </div>
                </validation>
            </div>
            <div>
                <hr>
                <p>
                <p>{{'profile.create.notification' | translate}}</p></p>
            </div>
            <div class="form-group">
                <button class="form-control btn btn-pos" type="submit" ng-disabled="form.$invalid || ctrl.uploading">{{
                    ctrl.saveButtonText | translate }}
                </button>
            </div>


        </div>

    </form>

    <!--<div class="complete job-approved" style="position:fixed;top:0;left:0;right:0;bottom:0;z-index:2;"
         ng-show="ctrl.saveSuccessFromRegister">
        <div>
            <div>
                <p><i class="demo-icon icon-ic-check2"></i></p>
                <h1>{{'profile.create.confirmation.title' | translate}}</h1>
                <p>{{'profile.create.confirmation.description' | translate}}</p>
                <button ng-click="ctrl.gotoJobList()" type="button">{{'common.find_assignment' | translate}}</button>
            </div>
        </div>
    </div>

    <div class="complete job-approved" style="position:fixed;top:0;left:0;right:0;bottom:0;z-index:2;"
         ng-show="ctrl.saveSuccessFromJobApply">
        <div>
            <div>
                <p><i class="demo-icon icon-ic-check2"></i></p>
                <h1>{{'assignment.status.applied' | translate}}</h1>
                <p>{{'assignment.status.applied.description' | translate}}</p>
                <button ng-click="ctrl.gotoJobList()" type="button">{{'user.apply.find_more' | translate}}</button>
            </div>
        </div>
    </div>

    <div class="complete job-approved" style="position:fixed;top:0;left:0;right:0;bottom:0;z-index:2;"
         ng-show="ctrl.saveSuccessDefault">
        <div>
            <div>
                <p><i class="demo-icon icon-ic-check2"></i></p>
                <h1>{{'common.updated' | translate}}</h1>
                <p>{{'profile.updated' | translate}}</p>
                <button ng-click="ctrl.refreshPage();" type="button">{{'common.back' | translate}}</button>
            </div>
        </div>
    </div>-->
</section>