<section class="user-job-wrapper">
    <user-job-header></user-job-header>
    <div class="main-title pink">
        <div class="job-owner-header" ng-show="ctrl.isCompany === 1">

            <!-- Choose candidate -->
            <div ng-show="!ctrl.accepted">
                <h2>Du har {{job_user.data.length}} ansökningar</h2>
            </div>
            <div ng-show="!ctrl.accepted && job_user.data.length > 0">
                <a class="button" href="#{{routes.user.job_candidates.resolve(job_obj)}}">Välj kandidat</a>
            </div>

            <!-- Wait user accepted -->
            <div ng-show="ctrl.accepted && !ctrl.will_perform" ng-click="ctrl.gotoAcceptedCandidate()">
                <h2>{{ctrl.user_apply.attributes["first-name"]}} har {{ctrl.remainHours}}h {{ctrl.remainMinutes}}min<br/>
                    på sig att acceptera uppdraget.</h2>
            </div>

            <!-- Job ongoing -->
            <div ng-show="ctrl.will_perform && !ctrl.performed" ng-click="ctrl.gotoAcceptedCandidate()">
                <h2>{{ctrl.user_apply.attributes["first-name"]}} kommer utföra uppdraget</h2>
            </div>

            <!-- Job performed confirmation -->
            <div ng-show="ctrl.performed">
                <h2>Ar uppdraget utfört?</h2>
            </div>
            <div class="buttons" ng-show="ctrl.performed">
                <a class="button" href="" ng-click="ctrl.ownerCancelPerformed()">Nej</a>
                <a class="button" href="" ng-click="modalPerformShow=true; isPerformed=false;">Ja</a>
            </div>

        </div>
        <div class="job-owner-header" ng-show="ctrl.isCompany === 0">
            <!-- Wait owner choose candidate -->
            <div ng-show="true">
                <h2>Du har sökt uppdraget</h2>
            </div>

            <!-- Owner choose you -->
            <div ng-show="true">
                <h2>Vi vill anlita dig svara inom 12h 0min</h2>
            </div>
            <div ng-show="true">
                <a class="button" href="" ng-click="modalWillPerformShow=true">Ge besked</a>
            </div>

            <!-- Job finish report your boss -->
            <div ng-show="true">
                <h2>Är uppdraget utfort?</h2>
            </div>
            <div ng-show="true">
                <a class="button" href="" ng-click="modalUserPerformedShow=true">Ja</a>
            </div>

        </div>
    </div>
    <div class="main-content">
        <ul>
            <li class="select"><a href="#{{routes.user.job_comments.resolve(job_obj)}}"><span>Kommentarer</span><br>Två
                kommentarer</a></li>
            <li class="select"><a href=""><span>Chatt</span><br>Meddelanden från Amir Kherimand</a></li>
        </ul>

    </div>

    <!-- USER modal form will-perform -->
    <div class="modal-performed-job" ng-show="modalWillPerformShow">
        <div>
            <div>
                <section ng-show="!isWillPerform">
                    <h3><span class="user-info-image"
                              style="background-image: url(assets/images/content/hero.png)"></span></h3>

                    <h4>
                        Grattis!<br/>
                        {{company_name}} vill garna att du utfor uppdraget
                    </h4>
                    <p>Vill du fortfalande ta uppdraget</p>
                    <div>
                        <a class="button pink" href="" ng-click="isWillPerform=true">Ja</a>
                        <a class="button dark" href="" ng-click="modalWillPerformShow=false">Nej</a>
                    </div>
                </section>
                <section ng-show="isWillPerform">
                    <h3>Kontuppgifter</h3>
                    <p>Var vill du atr vi satter in ersattingen nar du utfort uppdraget?</p>
                    <div class="material-input">

                        <form name="form" ng-submit="ctrl.userWillPerform()">
                            <div class="group">
                                <input type="text" ng-model="model.data.attributes.bank"/>
                                <label>Bank</label>
                            </div>
                            <input type="submit" value="Spara"/>
                            <!--<a class="button submit pink" href="" ng-click="modalPerformShow=false; isPerformed=false;">Skicka</a>-->
                        </form>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- USER modal form performed -->
    <div class="modal-performed-job" ng-show="modalUserPerformedShow">
        <div>
            <div>
                <section>
                    <h4>
                        Bra jobbat!<br/>
                        {{company_name}} har godkant utforandet av uppdraget.
                    </h4>
                    <p>Godkann for att fa ersattningen</p>
                    <div>
                        <a class="button pink" href="" ng-click="ctrl.userPerformed()">Ja</a>
                        <a class="button dark" href="" ng-click="modalUserPerformedShow=false">Nej</a>
                    </div>
                </section>
            </div>
        </div>
    </div>

    <!-- OWNER modal form performed to create invoice -->
    <user-job-perform></user-job-perform>


    <div class="data-generate">
        {{job | json}}
    </div>
</section>