<section>
    <form name="form" novalidate ng-submit="ctrl.save()">
        <div class="grey-header user-title">
            <h1>{{ ctrl.profileHeaderText | translate }}</h1>
            <p>{{'profile.create.description' | translate}}</p>
            <div>
                <div>
                    <div class="upload-button cursor-auto">
                        <!--<input type="file" ng-model-instant id="fileToUpload" multiple onchange="angular.element(this).scope().setFiles(this)" />-->
                        <!--<input type="file" id="file_upload" name="file" ng-change="ctrl.fileNameChanged()" accept="image/*">-->
                        <input type="file" id="file_upload" name="file" custom-on-change="fileNameChanged" accept="image/*">

                        <div class="icon-camera opacityOver"><i class="demo-icon icon-ic-camera"></i><span>{{'profile.form.photo.choose' | translate}}</span>
                        </div>
                        <div class="user-info-image noblur" back-img="{{ctrl.user_image}}"></div>
                    </div>
                </div>
                <div>{{ctrl.model.data.attributes["first-name"]}} {{ctrl.model.data.attributes["last-name"]}}</div>
            </div>
        </div>
        <div class="user-form">

            <div class="wrap-icon">
                <validation form="form" field="presentation" errormsg="profile.form.presentation.validation">
                    <div class="form-group presentation">
                        <label>{{ 'profile.form.presentation' | translate }}*</label>
                        <textarea name="presentation" msd-elastic required minlength="10" msd-elastic
                                  ng-model="ctrl.model.data.attributes.description" ng-disabled="ctrl.disableUserForm"></textarea>
                    </div>
                </validation>

                <validation form="form" field="language_skills" errormsg="profile.form.languages.validation">
                    <div class="form-group language">
                        <label>{{ "profile.form.languages" | translate }}*</label>
                        <oi-select
                                oi-options="item.attributes['en-name'] for item in languagesArrFn($query) track by item.id"
                                ng-model="ctrl.language_bundle"
                                multiple
                                placeholder="Select"
                                ng-disabled="ctrl.disableUserForm"
                        ></oi-select>
                        <input type="hidden" name="language_skills" value="{{ctrl.language_bundle}}" required>
                    </div>
                </validation>

                <validation form="form" field="job_experience" errormsg="profile.form.experience.validation">
                    <div class="form-group experience">
                        <label>{{ "profile.form.experience" | translate }}</label>
                        <textarea name="job_experience" msd-elastic
                                  ng-model="ctrl.model.data.attributes['job-experience']" ng-disabled="ctrl.disableUserForm"></textarea>
                    </div>
                </validation>

                <validation form="form" field="education" errormsg="profile.form.education.validation">
                    <div class="form-group education">
                        <label>{{ "profile.form.education" | translate }}</label>
                        <textarea name="education" msd-elastic
                                  ng-model="ctrl.model.data.attributes.education" ng-disabled="ctrl.disableUserForm"></textarea>
                    </div>
                </validation>

                <validation form="form" field="competence_text" errormsg="profile.form.skills.validation">
                    <div class="form-group competences">
                        <label>{{ "profile.form.skills" | translate }}</label>
                        <textarea name="competence_text" msd-elastic
                                  ng-model="ctrl.model.data.attributes['competence-text']" ng-disabled="ctrl.disableUserForm"></textarea>
                    </div>
                </validation>
            </div>
            <div>
                <hr>
                <p>
                <p>{{'profile.create.notification' | translate}}</p></p>
            </div>
            <div class="form-group">
                <button type="button" class="form-control button secondary ng-hide" href="" ng-show="ctrl.disableUserForm" ng-click="ctrl.enableUserForm()">{{'common.edit' | translate}}</button>
                <button class="form-control button primary" type="submit" ng-disabled="form.$invalid || ctrl.uploading" ng-show="!ctrl.disableUserForm">{{
                    ctrl.saveButtonText | translate }}
                </button>
            </div>


        </div>

    </form>
</section>