<section class="user-job-wrapper">
    <user-job-header></user-job-header>
    <div class="main-title pink">
        <div class="job-owner-header" ng-show="ctrl.isCompany === 1">

            <!-- Choose candidate -->
            <div ng-show="!ctrl.accepted">
                <h2>Du har {{job_user.data.length}} ansökningar</h2>
            </div>
            <div ng-show="!ctrl.accepted && job_user.data.length>0">
                <a class="button" href="#{{routes.user.job_candidates.resolve(job_obj)}}">Välj kandidat</a>
            </div>

            <!-- Wait user accepted -->
            <div ng-show="ctrl.accepted && !ctrl.will_perform" ng-click="ctrl.gotoAcceptedCandidate()">
                <h2>{{ctrl.user_apply.attributes["first-name"]}} har {{ctrl.remainHours}}h {{ctrl.remainMinutes}}min<br/>
                    på sig att acceptera uppdraget.</h2>
            </div>

            <!-- Job ongoing -->
            <div ng-show="ctrl.will_perform" ng-click="ctrl.gotoAcceptedCandidate()">
                <h2>{{ctrl.user_apply.attributes["first-name"]}} kommer utföra uppdraget</h2>
            </div>

            <!-- Job performed confirmation -->
            <div ng-show="ctrl.performed">
                <h2>Ar uppdraget utfört?</h2>
            </div>
            <div class="buttons" ng-show="ctrl.performed">
                <a class="button" href="">Nej</a>
                <a class="button" href="" ng-click="modalPerformShow=true; isPerformed=false;">Ja</a>
            </div>
        </div>
        <div class="job-user-header" ng-show="ctrl.isCompany === 0">
            <h2>Du har sökt uppdraget</h2>
        </div>
    </div>
    <div class="main-content">
        <ul>
            <li class="select"><a href="#{{routes.user.job_comments.resolve(job_obj)}}"><span>Kommentarer</span><br>Två
                kommentarer</a></li>
            <li class="select"><a href=""><span>Chatt</span><br>Meddelanden från Amir Kherimand</a></li>
        </ul>

    </div>
    <user-job-perform></user-job-perform>
    <div class="data-generate">
        {{job | json}}
    </div>
</section>