<section class="row">

  <job-header></job-header>
  <div class="job-body-wrapper">
    <job-body></job-body>
    <job-comment></job-comment>
    <a class="sticy-button ng-hide" ng-show="ctrl.canApplyJob && ctrl.isCompany!==1" href="" ng-click="ctrl.accept_job()">{{"assignment.status.apply" | translate}}</a>
    <a class="sticy-button ng-hide disabled" ng-show="!ctrl.canApplyJob && ctrl.isCompany===0" ng-click="">{{"assignment.status.applied" | translate}}</a>
    <job-more></job-more>
  </div>

</section>