<!DOCTYPE html>
<html lang="en" ng-app="just" ng-cloak class="ng-cloak">
  <head>
    <title>Just Arrived</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="sv">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/icons/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/icons/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/icons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="images/icons/apple-touch-icon-57x57-precomposed.png">
    <link rel="shortcut icon" href="images/icons/apple-touch-icon.png">

    <meta name="msapplication-TileImage" content="images/icons/apple-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#36b4c4">

    <base href="/">

    <!-- compiled CSS --><% styles.forEach(function (file) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

    <!-- compiled JavaScript --><% scripts.forEach(function (file) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>

  <body ng-controller="MainCtrl as ctrl">

    <header>
      <div class="top-logo">
        <a href="#/">
          <img src="assets/images/ui/logo.png" alt="logo"/>
        </a>
        <div class="menu">
          <button ng-click="ctrl.selectLanguage()" type="button" >{{ctrl.language.attributes.lang_code}}</button>
          <button ng-click="ctrl.menu()" type="button">menu</button>
        </div>
      </div>


    </header>

    <div class="container-fluid" ng-view></div>

  </body>
</html>
