<!DOCTYPE html>
<html lang="en" ng-app="just" ng-cloak class="ng-cloak">
<head>
    <title>{{'applications.title' | translate}}</title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="Content-Language" content="sv">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="shortcut icon" href="/assets/favicons/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/assets/favicons/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/assets/favicons/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/assets/favicons/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/favicons/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/assets/favicons/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16.png">
    <link rel="apple-touch-icon-precomposed" href="/assets/favicons/favicon-57.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/favicons/favicon-114.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/favicons/favicon-72.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/favicons/favicon-144.png">
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/assets/favicons/favicon-60.png">
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/assets/favicons/favicon-120.png">
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/assets/favicons/favicon-76.png">
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/assets/favicons/favicon-152.png">
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/assets/favicons/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/assets/favicons/favicon-144.png">
    <meta name="msapplication-config" content="/assets/favicons/browserconfig.xml">

    <base href="/">

    <!-- compiled CSS --><% styles.forEach(function (file) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>"/>
    <% }); %>

    <!-- compiled JavaScript --><% scripts.forEach(function (file) { %>
    <script type="text/javascript" src="<%= file %>"></script>
    <% }); %>
</head>

<body ng-controller="MainCtrl as ctrl" scroll>
<div class="wrapper">
    <header>
        <div class="top-bar">
            <div class="back-button" ng-hide="ctrl.isStartPage"><a href="" ng-click="ctrl.historyBack()"><i class="demo-icon icon-ic-arrow-left"></i></a></div>
            <div class="top-logo">
                <a href="#/">
                    <img src="assets/images/ui/logo.svg" alt="Just Arrived"/>
                </a>
            </div>
            <div>
                <button ng-click="ctrl.selectLanguage()" type="button"><span class="lang-icon">{{ctrl.language["lang-code"]}}</span><span
                        class="lang-text">{{ctrl.language["local-name"]}}</span></button>
            </div>
            <div>
                <button ng-click="ctrl.menu()" type="button"><span class="menu-icon"><i></i><i></i><i></i></span><span
                        class="menu-text">{{"common.menu" | translate}}</span></button>
            </div>
        </div>
    </header>

    <div class="container-fluid" ng-view></div>

    <footer>
        <div>
            <div>
                <p>
                    <span>{{'applications.title' | translate}}</span>
                </p>
                <p>
                    <span>Jakobsbergsgatan 22,</span>
                    <span>111 44 Stockholm</span>
                </p>
                <p><a href="mailto:hej@justarrived.se"><span>hej@justarrived.se</span></a></p>
            </div>
        </div>
    </footer>
</div>

<ng-include src="'common/templates/menu.html'"></ng-include>
<ng-include src="'common/templates/select-language.html'"></ng-include>
<ng-include src="'common/templates/settings.html'"></ng-include>
<div class="complete job-approved" style="position:fixed;top:0;left:0;right:0;bottom:0;z-index:1000;"
     ng-show="ctrl.saveSettingsSuccess">
    <div>
        <div>
            <p><i class="demo-icon icon-ic-check2"></i></p>
            <h1>{{'common.updated' | translate}}</h1>
            <p>{{'profile.updated' | translate}}</p>
            <button ng-click="ctrl.saveSettingsSuccess = false;" type="button">{{'common.back' | translate}}</button>
        </div>
    </div>
</div>

</body>
