@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600italic,600,700,700italic);
@import url("../assets/fonts/fontello.css");
@import 'base/variables';
@import 'base/normalize';
@import 'base/global';
@import 'base/mixins';
@import 'base/animation';
// Import Components
@import 'components/header';
@import 'components/button';
@import 'components/form';
// Import Layouts
@import 'layouts/home';
@import 'layouts/job';
@import 'layouts/menu';
@import 'layouts/language';
@import 'layouts/setting';
@import 'layouts/login';
@import 'layouts/contact';
@import 'layouts/faq';
@import 'layouts/mediaqueries';
