@import 'base/variables';

@import 'base/normalize';
@import 'base/global';
@import 'base/mixins';

// Import Components
 @import 'components/header';

// Import Layouts
@import 'layouts/home';

@import 'layouts/mediaqueries';